<?xml version="1.0" encoding="utf-8"?>
<view xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="7.1.5208.0" viewName="ProductTypesBackendMaster">
	<dialogs>
		<add name="ModuleEditorDialog" openOnCommand="ModuleEditor_Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_generalproduct" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?TypeName=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_generalproduct&amp;Title=Product fields&amp;BackLabelText=Back to product types&amp;ItemsName=Product types" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ModuleEditorDialog on ModuleEditor_Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_generalproduct" />
		<add name="ModuleEditorDialog" openOnCommand="ModuleEditor_Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_book" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?TypeName=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_book&amp;Title=Product fields&amp;BackLabelText=Back to product types&amp;ItemsName=Product types" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ModuleEditorDialog on ModuleEditor_Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_book" />
		<add name="ModuleEditorDialog" openOnCommand="ModuleEditor_Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_song" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?TypeName=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_song&amp;Title=Product fields&amp;BackLabelText=Back to product types&amp;ItemsName=Product types" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ModuleEditorDialog on ModuleEditor_Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_song" />
		<add name="ModuleEditorDialog" openOnCommand="ModuleEditor_Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_software" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?TypeName=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_software&amp;Title=Product fields&amp;BackLabelText=Back to product types&amp;ItemsName=Product types" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ModuleEditorDialog on ModuleEditor_Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_software" />
	</dialogs>
</view>