<?xml version="1.0" encoding="utf-8"?>
<commentsModuleConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.0.5700.0">
	<CommentableTypes>
		<commentableType AllowComments="False" ItemType="Telerik.Sitefinity.Pages.Model.PageNode" />
		<commentableType AllowComments="False" ItemType="Telerik.Sitefinity.Libraries.Model.Image" />
		<commentableType AllowComments="False" ItemType="Telerik.Sitefinity.Libraries.Model.Video" />
		<commentableType AllowComments="False" ItemType="Telerik.Sitefinity.Libraries.Model.Document" />
		<commentableType AllowComments="False" ItemType="Telerik.Sitefinity.Lists.Model.ListItem" />
		<commentableType FriendlyName="Product" AllowComments="True" RequiresAuthentication="False" RequiresApproval="False" AllowSubscription="False" EnableRatings="True" ItemType="Telerik.Sitefinity.Ecommerce.Catalog.Model.Product" />
	</CommentableTypes>
</commentsModuleConfig>