<?xml version="1.0" encoding="utf-8"?>
<formsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.0.5700.0">
	<notifications formEntrySubmittedNotificationTemplateId="40e2ff31-ebfb-67f3-ba7d-ff000072e94b" updatedFormEntrySubmittedNotificationTemplateId="be390032-ebfb-67f3-ba7d-ff000072e94b" />
	<contentViewControls>
		<contentViewControl definitionName="FormsBackend">
			<views>
				<view viewName="FormsBackendInsert">
					<sections>
						<sections cssClass="sfExpandableForm" displayMode="Write" resourceClassId="MarketoConnectorResources" title="MarketoConnectorExpandableControlLabel" wrapperTag="Div" isHiddenInTranslationMode="False" moduleName="MarketoConnector" name="MarketoConnectorSection">
							<fields>
								<field mutuallyExclusive="False" renderChoiceAs="SingleCheckBox" hideTitle="False" returnValuesAlwaysInArray="False" id="changeMarketoLeadScoreField" dataFieldName="Attributes.ChangeMarketoLeadScore" displayMode="Write" wrapperTag="Li" title="MarketoFormsFieldsHeader" fieldType="Telerik.Sitefinity.Web.UI.Fields.ChoiceField, Telerik.Sitefinity" resourceClassId="MarketoConnectorResources" cssClass="sfCheckBox sfInGroup" fieldName="ChangeMarketoLeadScore" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.ChoiceFieldElement, Telerik.Sitefinity">
									<choicesConfig>
										<element text="ChangeMarketoLeadScoreLabel" enabled="False" selected="False" resourceClassId="MarketoConnectorResources" />
									</choicesConfig>
									<validator expectedFormat="None" maxLength="-1" minLength="-1" required="False" validateIfInvisible="True" />
									<expandableDefinition expanded="True" />
								</field>
								<field rows="1" HideIfValue="0" isLocalizable="False" showCharacterCounter="False" recommendedCharactersCount="0" maxCharactersCount="0" trimSpaces="False" allowNulls="False" toolTipVisible="False" id="changeMarketoLeadScoreAmountField" dataFieldName="Attributes.ChangeMarketoLeadScoreAmount" displayMode="Write" wrapperTag="Li" description="ChangeMarketoLeadScoreFieldDescription" fieldType="Telerik.Sitefinity.Web.UI.Fields.TextField, Telerik.Sitefinity" resourceClassId="MarketoConnectorResources" cssClass="sfShortField40 sfMLeft15" fieldName="ChangeMarketoLeadScoreAmount" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.TextFieldDefinitionElement, Telerik.Sitefinity">
									<expandableDefinition expanded="True" />
									<validator expectedFormat="Integer" maxLength="-1" minLength="-1" required="False" messageCssClass="sfError" validateIfInvisible="True" />
								</field>
								<field mutuallyExclusive="False" renderChoiceAs="SingleCheckBox" hideTitle="True" returnValuesAlwaysInArray="False" id="syncFormFieldsToLeadFieldsField" dataFieldName="Attributes.SyncFormFieldsToLeadFields" displayMode="Write" wrapperTag="Li" fieldType="Telerik.Sitefinity.Web.UI.Fields.ChoiceField, Telerik.Sitefinity" resourceClassId="MarketoConnectorResources" cssClass="sfCheckBox sfInGroup" fieldName="SyncFormFieldsToLeadFields" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.ChoiceFieldElement, Telerik.Sitefinity">
									<choicesConfig>
										<element text="SyncFormFieldsWithLeadFieldsLabel" enabled="False" selected="False" resourceClassId="MarketoConnectorResources" />
									</choicesConfig>
									<validator expectedFormat="None" maxLength="-1" minLength="-1" required="False" validateIfInvisible="True" />
									<expandableDefinition expanded="True" />
								</field>
								<field mutuallyExclusive="False" renderChoiceAs="SingleCheckBox" hideTitle="True" returnValuesAlwaysInArray="False" id="doSpecificWebCallsField" dataFieldName="Attributes.DoSpecificWebCalls" displayMode="Write" wrapperTag="Li" fieldType="Telerik.Sitefinity.Web.UI.Fields.ChoiceField, Telerik.Sitefinity" resourceClassId="MarketoConnectorResources" cssClass="sfCheckBox sfInGroup" fieldName="DoSpecificWebCalls" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.ChoiceFieldElement, Telerik.Sitefinity">
									<choicesConfig>
										<element text="DoSpecificWebCallsLabel" enabled="False" selected="False" resourceClassId="MarketoConnectorResources" />
									</choicesConfig>
									<validator expectedFormat="None" maxLength="-1" minLength="-1" required="False" validateIfInvisible="True" />
									<expandableDefinition expanded="True" />
								</field>
							</fields>
							<expandableDefinition expanded="False" />
						</sections>
					</sections>
				</view>
				<view viewName="FormsBackendEdit">
					<sections>
						<sections cssClass="sfExpandableForm" displayMode="Write" resourceClassId="MarketoConnectorResources" title="MarketoConnectorExpandableControlLabel" wrapperTag="Div" isHiddenInTranslationMode="False" moduleName="MarketoConnector" name="MarketoConnectorSection">
							<fields>
								<field mutuallyExclusive="False" renderChoiceAs="SingleCheckBox" hideTitle="False" returnValuesAlwaysInArray="False" id="changeMarketoLeadScoreField" dataFieldName="Attributes.ChangeMarketoLeadScore" displayMode="Write" wrapperTag="Li" title="MarketoFormsFieldsHeader" fieldType="Telerik.Sitefinity.Web.UI.Fields.ChoiceField, Telerik.Sitefinity" resourceClassId="MarketoConnectorResources" cssClass="sfCheckBox sfInGroup" fieldName="ChangeMarketoLeadScore" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.ChoiceFieldElement, Telerik.Sitefinity">
									<choicesConfig>
										<element text="ChangeMarketoLeadScoreLabel" enabled="False" selected="False" resourceClassId="MarketoConnectorResources" />
									</choicesConfig>
									<validator expectedFormat="None" maxLength="-1" minLength="-1" required="False" validateIfInvisible="True" />
									<expandableDefinition expanded="True" />
								</field>
								<field rows="1" HideIfValue="0" isLocalizable="False" showCharacterCounter="False" recommendedCharactersCount="0" maxCharactersCount="0" trimSpaces="False" allowNulls="False" toolTipVisible="False" id="changeMarketoLeadScoreAmountField" dataFieldName="Attributes.ChangeMarketoLeadScoreAmount" displayMode="Write" wrapperTag="Li" description="ChangeMarketoLeadScoreFieldDescription" fieldType="Telerik.Sitefinity.Web.UI.Fields.TextField, Telerik.Sitefinity" resourceClassId="MarketoConnectorResources" cssClass="sfShortField40 sfMLeft15" fieldName="ChangeMarketoLeadScoreAmount" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.TextFieldDefinitionElement, Telerik.Sitefinity">
									<expandableDefinition expanded="True" />
									<validator expectedFormat="Integer" maxLength="-1" minLength="-1" required="False" messageCssClass="sfError" validateIfInvisible="True" />
								</field>
								<field mutuallyExclusive="False" renderChoiceAs="SingleCheckBox" hideTitle="True" returnValuesAlwaysInArray="False" id="syncFormFieldsToLeadFieldsField" dataFieldName="Attributes.SyncFormFieldsToLeadFields" displayMode="Write" wrapperTag="Li" fieldType="Telerik.Sitefinity.Web.UI.Fields.ChoiceField, Telerik.Sitefinity" resourceClassId="MarketoConnectorResources" cssClass="sfCheckBox sfInGroup" fieldName="SyncFormFieldsToLeadFields" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.ChoiceFieldElement, Telerik.Sitefinity">
									<choicesConfig>
										<element text="SyncFormFieldsWithLeadFieldsLabel" enabled="False" selected="False" resourceClassId="MarketoConnectorResources" />
									</choicesConfig>
									<validator expectedFormat="None" maxLength="-1" minLength="-1" required="False" validateIfInvisible="True" />
									<expandableDefinition expanded="True" />
								</field>
								<field mutuallyExclusive="False" renderChoiceAs="SingleCheckBox" hideTitle="True" returnValuesAlwaysInArray="False" id="doSpecificWebCallsField" dataFieldName="Attributes.DoSpecificWebCalls" displayMode="Write" wrapperTag="Li" fieldType="Telerik.Sitefinity.Web.UI.Fields.ChoiceField, Telerik.Sitefinity" resourceClassId="MarketoConnectorResources" cssClass="sfCheckBox sfInGroup" fieldName="DoSpecificWebCalls" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.ChoiceFieldElement, Telerik.Sitefinity">
									<choicesConfig>
										<element text="DoSpecificWebCallsLabel" enabled="False" selected="False" resourceClassId="MarketoConnectorResources" />
									</choicesConfig>
									<validator expectedFormat="None" maxLength="-1" minLength="-1" required="False" validateIfInvisible="True" />
									<expandableDefinition expanded="True" />
								</field>
							</fields>
							<expandableDefinition expanded="False" />
						</sections>
					</sections>
				</view>
				<view viewName="FormsBackendDuplicate">
					<sections>
						<sections cssClass="sfExpandableForm" displayMode="Write" resourceClassId="MarketoConnectorResources" title="MarketoConnectorExpandableControlLabel" wrapperTag="Div" isHiddenInTranslationMode="False" moduleName="MarketoConnector" name="MarketoConnectorSection">
							<fields>
								<field mutuallyExclusive="False" renderChoiceAs="SingleCheckBox" hideTitle="False" returnValuesAlwaysInArray="False" id="changeMarketoLeadScoreField" dataFieldName="Attributes.ChangeMarketoLeadScore" displayMode="Write" wrapperTag="Li" title="MarketoFormsFieldsHeader" fieldType="Telerik.Sitefinity.Web.UI.Fields.ChoiceField, Telerik.Sitefinity" resourceClassId="MarketoConnectorResources" cssClass="sfCheckBox sfInGroup" fieldName="ChangeMarketoLeadScore" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.ChoiceFieldElement, Telerik.Sitefinity">
									<choicesConfig>
										<element text="ChangeMarketoLeadScoreLabel" enabled="False" selected="False" resourceClassId="MarketoConnectorResources" />
									</choicesConfig>
									<validator expectedFormat="None" maxLength="-1" minLength="-1" required="False" validateIfInvisible="True" />
									<expandableDefinition expanded="True" />
								</field>
								<field rows="1" HideIfValue="0" isLocalizable="False" showCharacterCounter="False" recommendedCharactersCount="0" maxCharactersCount="0" trimSpaces="False" allowNulls="False" toolTipVisible="False" id="changeMarketoLeadScoreAmountField" dataFieldName="Attributes.ChangeMarketoLeadScoreAmount" displayMode="Write" wrapperTag="Li" description="ChangeMarketoLeadScoreFieldDescription" fieldType="Telerik.Sitefinity.Web.UI.Fields.TextField, Telerik.Sitefinity" resourceClassId="MarketoConnectorResources" cssClass="sfShortField40 sfMLeft15" fieldName="ChangeMarketoLeadScoreAmount" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.TextFieldDefinitionElement, Telerik.Sitefinity">
									<expandableDefinition expanded="True" />
									<validator expectedFormat="Integer" maxLength="-1" minLength="-1" required="False" messageCssClass="sfError" validateIfInvisible="True" />
								</field>
								<field mutuallyExclusive="False" renderChoiceAs="SingleCheckBox" hideTitle="True" returnValuesAlwaysInArray="False" id="syncFormFieldsToLeadFieldsField" dataFieldName="Attributes.SyncFormFieldsToLeadFields" displayMode="Write" wrapperTag="Li" fieldType="Telerik.Sitefinity.Web.UI.Fields.ChoiceField, Telerik.Sitefinity" resourceClassId="MarketoConnectorResources" cssClass="sfCheckBox sfInGroup" fieldName="SyncFormFieldsToLeadFields" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.ChoiceFieldElement, Telerik.Sitefinity">
									<choicesConfig>
										<element text="SyncFormFieldsWithLeadFieldsLabel" enabled="False" selected="False" resourceClassId="MarketoConnectorResources" />
									</choicesConfig>
									<validator expectedFormat="None" maxLength="-1" minLength="-1" required="False" validateIfInvisible="True" />
									<expandableDefinition expanded="True" />
								</field>
								<field mutuallyExclusive="False" renderChoiceAs="SingleCheckBox" hideTitle="True" returnValuesAlwaysInArray="False" id="doSpecificWebCallsField" dataFieldName="Attributes.DoSpecificWebCalls" displayMode="Write" wrapperTag="Li" fieldType="Telerik.Sitefinity.Web.UI.Fields.ChoiceField, Telerik.Sitefinity" resourceClassId="MarketoConnectorResources" cssClass="sfCheckBox sfInGroup" fieldName="DoSpecificWebCalls" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.ChoiceFieldElement, Telerik.Sitefinity">
									<choicesConfig>
										<element text="DoSpecificWebCallsLabel" enabled="False" selected="False" resourceClassId="MarketoConnectorResources" />
									</choicesConfig>
									<validator expectedFormat="None" maxLength="-1" minLength="-1" required="False" validateIfInvisible="True" />
									<expandableDefinition expanded="True" />
								</field>
							</fields>
							<expandableDefinition expanded="False" />
						</sections>
					</sections>
				</view>
			</views>
		</contentViewControl>
	</contentViewControls>
</formsConfig>