<?xml version="1.0" encoding="utf-8"?>
<personalizationConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="7.1.5208.0">
	<criteria>
		<criteria title="MarketoLeadScore" resourceClassId="MarketoConnectorResources" criterionEditorUrl="Telerik.Sitefinity.MarketoConnector.Personalization.Evaluators.MarketoLeadScoreEditor.ascx" consoleCriterionEditorUrl="Telerik.Sitefinity.MarketoConnector.Personalization.Evaluators.MarketoLeadScoreConsoleEditor.ascx" criterionVirtualPathPrefix="~/MarketoConnector/" moduleName="MarketoConnector" name="MarketoLeadScore" />
		<criteria title="MarketoField" resourceClassId="MarketoConnectorResources" criterionEditorUrl="Telerik.Sitefinity.MarketoConnector.Personalization.Evaluators.MarketoFieldEditor.ascx" consoleCriterionEditorUrl="Telerik.Sitefinity.MarketoConnector.Personalization.Evaluators.MarketoFieldConsoleEditor.ascx" criterionVirtualPathPrefix="~/MarketoConnector/" moduleName="MarketoConnector" name="MarketoField" />
	</criteria>
</personalizationConfig>