<?xml version="1.0" encoding="utf-8"?>
<resourcesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.0.5700.0">
	<cultures>
		<clear />
		<add culture="en" uiCulture="en" key="english-en" />
	</cultures>
	<backendCultures>
		<clear />
		<add culture="en" uiCulture="en" key="english-en" />
	</backendCultures>
</resourcesConfig>