<?xml version="1.0" encoding="utf-8"?>
<systemConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.0.5700.0" build="5700" previousBuild="5600">
	<applicationModules>
		<add startupType="Disabled" version="7.1.5208.0" name="Multisite" />
		<add version="8.0.5700.0" name="Scheduling" />
		<add version="8.0.5700.0" name="Search" />
		<add version="8.0.5700.0" name="News" />
		<add version="8.0.5700.0" name="Blogs" />
		<add version="8.0.5700.0" name="Events" />
		<add version="8.0.5700.0" name="Libraries" />
		<add version="8.0.5700.0" name="Forms" />
		<add version="8.0.5700.0" name="Lists" />
		<add version="8.0.5700.0" name="Analytics" />
		<add version="8.0.5700.0" name="Dashboard" />
		<add version="8.0.5700.0" name="Newsletters" />
		<add version="8.0.5700.0" name="GenericContent" />
		<add version="8.0.5700.0" name="ControlTemplates" />
		<add startupType="Disabled" version="7.1.5208.0" name="Ecommerce" />
		<add version="8.0.5700.0" name="ModuleBuilder" />
		<add version="8.0.5700.0" name="ResponsiveDesign" />
		<add version="8.0.5700.0" name="Publishing" />
		<add startupType="Disabled" version="7.1.5208.0" name="Forums" />
		<add version="8.0.5700.0" name="Thunder" />
		<add startupType="Disabled" version="7.1.5208.0" name="Personalization" />
		<add version="8.0.5700.0" name="SitemapGenerator" />
		<add startupType="Disabled" version="7.1.5208.0" name="SitefinityDAM" />
		<add version="8.0.5700.0" name="MobileAppBuilder" />
		<add version="8.0.5700.0" name="SharepointConnector" />
		<add version="8.0.5700.0" name="EverliveConnector" />
		<add version="8.0.5700.0" name="MarketoConnector" />
		<add version="8.0.5700.0" name="SalesForceConnector" />
		<add startupType="Disabled" version="7.3.5328.0" name="DataIntelligenceConnector" />
		<add version="8.0.5700.0" name="Comments" />
		<add version="8.0.5700.0" name="RecycleBin" />
		<add description="Feather" startupType="OnApplicationStart" version="1.2.120.0" name="Feather" />
		<add title="Audit Trail - Elasticsearch" description="Logs audit events to an Elasticsearch instance." moduleId="00000000-0000-0000-0000-000000000000" type="Telerik.Sitefinity.Audit.Elasticsearch.ElasticsearchAuditModule, Telerik.Sitefinity.Audit.Elasticsearch, Version=7.3.5328.0, Culture=neutral, PublicKeyToken=4d437ae15f42fd43" startupType="Disabled" name="ElasticsearchAudit" />
	</applicationModules>
	<typeImplementationsMapping>
		<add type="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.WidgetElement, Telerik.Sitefinity">
			<implementations>
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Widgets.ProductTypeFilterWidgetDefinitionElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Widgets.ProductOtherFilterOptionsWidgetDefinitionElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Widgets.OrderStatusFilterWidgetDefinitionElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Widgets.FilterProductsWidgetDefinitionElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Widgets.NavigateToTaxLogsWidgetDefinitionElement, Telerik.Sitefinity.Ecommerce" />
			</implementations>
		</add>
		<add type="Telerik.Sitefinity.Web.UI.ContentUI.Config.ContentViewDefinitionElement, Telerik.Sitefinity">
			<implementations>
				<add type="Telerik.Sitefinity.Modules.Events.Configuration.EventsListViewMasterElement, Telerik.Sitefinity.ContentModules" />
				<add type="Telerik.Sitefinity.Modules.Events.Configuration.CalendarViewMasterElement, Telerik.Sitefinity.ContentModules" />
				<add type="Telerik.Sitefinity.Modules.Events.Configuration.EventsViewDetailElement, Telerik.Sitefinity.ContentModules" />
				<add type="Telerik.Sitefinity.Forums.Web.Config.ForumsViewMasterElement, Telerik.Sitefinity.Forums" />
				<add type="Telerik.Sitefinity.Forums.Web.Config.ThreadsViewMasterElement, Telerik.Sitefinity.Forums" />
			</implementations>
		</add>
		<add type="Telerik.Sitefinity.Web.UI.Fields.Config.FieldDefinitionElement, Telerik.Sitefinity">
			<implementations>
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.CreateVariationsFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.VariationsFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.InventoryFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Fields.OrderFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Fields.CustomerFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Fields.PaymentMethodSettingsFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.DependentFieldDefinitionElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Forums.Web.Config.PostInfoFieldElement, Telerik.Sitefinity.Forums" />
				<add type="Telerik.Sitefinity.Forums.Web.UI.Backend.Fields.GroupsBindableChoiceFieldElement, Telerik.Sitefinity.Forums" />
			</implementations>
		</add>
		<add type="Telerik.Sitefinity.Web.UI.Fields.Config.FieldControlDefinitionElement, Telerik.Sitefinity">
			<implementations>
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.CreateVariationsFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.VariationsFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.InventoryFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Fields.OrderFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Fields.CustomerFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Fields.PaymentMethodSettingsFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.DependentFieldDefinitionElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Forums.Web.Config.PostInfoFieldElement, Telerik.Sitefinity.Forums" />
				<add type="Telerik.Sitefinity.Forums.Web.UI.Backend.Fields.GroupsBindableChoiceFieldElement, Telerik.Sitefinity.Forums" />
			</implementations>
		</add>
	</typeImplementationsMapping>
	<cacheManagers>
		<add pollWhetherItemsAreExpiredIntervalSeconds="60" startScavengingAfterItemCount="10000" whenScavengingRemoveItemCount="100" cacheStore="InMemory" name="MarketoConnectorCache" />
	</cacheManagers>
</systemConfig>