<?xml version="1.0" encoding="utf-8"?>
<toolboxesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.0.5700.0">
	<toolboxes>
		<toolbox name="PageControls">
			<sections>
				<add name="ContentToolboxSection">
					<tools>
						<add enabled="True" type="Telerik.Sitefinity.Modules.News.Web.UI.NewsView, Telerik.Sitefinity.ContentModules" title="NewsViewTitle" description="NewsViewDescription" resourceClassId="NewsResources" cssClass="sfNewsViewIcn" moduleName="News" visibilityMode="None" name="NewsView" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.Blogs.Web.UI.BlogPostView, Telerik.Sitefinity.ContentModules" title="BlogPostsViewTitle" description="BlogPostsViewDescription" resourceClassId="BlogResources" cssClass="sfBlogsViewIcn" moduleName="Blogs" visibilityMode="None" name="BlogPostsView" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.Blogs.Web.UI.BlogsListControl, Telerik.Sitefinity.ContentModules" title="BlogsList" description="BlogsListDescription" resourceClassId="BlogResources" cssClass="sfBlogsListViewIcn" moduleName="Blogs" visibilityMode="None" name="BlogsListControl" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.Events.Web.UI.EventsView, Telerik.Sitefinity.ContentModules" title="EventsViewTitle" description="EventsViewDescription" resourceClassId="EventsResources" cssClass="sfEventsViewIcn" moduleName="Events" visibilityMode="None" name="EventsView" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.Libraries.Web.UI.Videos.MediaPlayerControl, Telerik.Sitefinity" title="MediaPlayerControlTitle" description="MediaPlayerControlDescription" resourceClassId="PageResources" cssClass="sfVideoIcn" moduleName="Libraries" visibilityMode="None" name="MediaPlayerControl" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.Libraries.Web.UI.Videos.VideosView, Telerik.Sitefinity" title="VideosViewTitle" description="VideosViewDescription" resourceClassId="LibrariesResources" cssClass="sfVideoListIcn" moduleName="Libraries" visibilityMode="None" name="VideosView" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.Libraries.Web.UI.Documents.DocumentLink, Telerik.Sitefinity" title="DocumentLinkControlTitle" description="DocumentLinkControlDescription" resourceClassId="PageResources" cssClass="sfDownloadLinkIcn" moduleName="Libraries" visibilityMode="None" name="DocumentLinkControl" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.Libraries.Web.UI.Documents.DownloadListView, Telerik.Sitefinity" title="DownloadListViewTitle" description="DownloadListViewDescription" resourceClassId="PageResources" cssClass="sfDownloadListIcn" moduleName="Libraries" visibilityMode="None" name="DownloadListView" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.Forms.Web.UI.FormsControl, Telerik.Sitefinity" title="FormsControlTitle" description="FormsControlDescription" resourceClassId="FormsResources" cssClass="sfFormsIcn" moduleName="Forms" visibilityMode="None" name="FormsControl" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.Lists.Web.UI.ListView, Telerik.Sitefinity.ContentModules" title="ListItemsViewTitle" description="ListItemsViewDescription" resourceClassId="ListsResources" cssClass="sfListitemsIcn" moduleName="Lists" visibilityMode="None" name="ListItemsView" />
						<add enabled="True" type="Telerik.Sitefinity.Web.UI.PublicControls.FeedEmbedControl, Telerik.Sitefinity" title="FeedEmbedControlTitle" description="FeedEmbedControlDescription" resourceClassId="PageResources" cssClass="sfFeedsIcn" moduleName="Publishing" visibilityMode="None" name="FeedEmbedControl" />
						<add enabled="True" type="Telerik.Sitefinity.Forums.Web.UI.ForumsView, Telerik.Sitefinity.Forums" title="ForumsViewTitle" description="ForumsViewDescription" resourceClassId="ForumsResources" cssClass="sfForumsViewIcn" moduleName="Forums" visibilityMode="None" name="ForumsView" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.Comments.Web.UI.Frontend.CommentsWidget, Telerik.Sitefinity" title="CommentsTitle" description="CommentsDescription" resourceClassId="CommentsResources" cssClass="sfCommentsIcn" moduleName="Comments" visibilityMode="None" name="Comments" />
					</tools>
				</add>
				<add name="NavigationControlsSection">
					<tools>
						<add enabled="True" type="Telerik.Sitefinity.Multisite.Web.UI.SiteSelectorControl, Telerik.Sitefinity" title="SiteSelectorControlTitle" description="SiteSelectorControlDescription" resourceClassId="MultisiteResources" cssClass="sfSiteSelectorIcn" moduleName="Multisite" visibilityMode="None" name="SiteSelectorControlName" />
					</tools>
				</add>
				<add name="Social">
					<tools>
						<add enabled="True" type="Telerik.Sitefinity.Web.UI.PublicControls.TwitterFeedWidget, Telerik.Sitefinity" title="TwitterFeedWidgetTitle" description="TwitterFeedWidgetDescription" resourceClassId="PublishingMessages" cssClass="sfTwitterFeedIcn" moduleName="Publishing" visibilityMode="None" name="TwitterFeedWidget" />
					</tools>
				</add>
				<add enabled="True" title="SearchBoxTitle" description="SearchBoxDescription" resourceClassId="SearchResources" ordinal="0" name="Search">
					<tools>
						<add enabled="True" type="Telerik.Sitefinity.Services.Search.Web.UI.Public.SearchBox, Telerik.Sitefinity.Search.Impl" title="SearchBoxTitle" description="SearchBoxDescription" resourceClassId="SearchResources" cssClass="sfSearchBoxIcn" moduleName="Search" visibilityMode="None" name="Search" />
						<add enabled="True" type="Telerik.Sitefinity.Services.Search.Web.UI.Public.SearchResults, Telerik.Sitefinity.Search.Impl" title="SearchResultsTitle" description="SearchResultsDescription" resourceClassId="SearchResources" cssClass="sfSearchResultIcn" moduleName="Search" visibilityMode="None" name="SearchResults" />
					</tools>
				</add>
				<add enabled="True" title="Classifications" ordinal="0" name="Classifications">
					<tools>
						<add enabled="True" type="Telerik.Sitefinity.Web.UI.PublicControls.TaxonomyControl" title="Categories" cssClass="sfHierarchicalTaxonIcn" TaxonomyId="e5cd6d69-1543-427b-ad62-688a99f5e7d4" FieldName="Category" visibilityMode="None" name="Categories" />
						<add enabled="True" type="Telerik.Sitefinity.Web.UI.PublicControls.TaxonomyControl" title="Tags" cssClass="sfFlatTaxonIcn" TaxonomyId="cb0f3a19-a211-48a7-88ec-77495c0f5374" FieldName="Tags" visibilityMode="None" name="Tags" />
					</tools>
				</add>
				<add enabled="True" title="DashboardToolboxSectionTitle" description="DashboardToolboxSectionDescription" resourceClassId="Labels" tags="backend" ordinal="-1" name="Dashboard">
					<tools>
						<add enabled="True" type="Telerik.Sitefinity.Analytics.Server.Infrastructure.Web.UI.AnalyticsTimeline.AnalyticsTimelineDashboard, Telerik.Sitefinity.Analytics.Server.Infrastructure" title="AnalyticsTimelineWidgetToolboxTitle" description="AnalyticsTimelineWidgetToolboxTitle" resourceClassId="AnalyticsResources" cssClass="sfStatisticsIcn" moduleName="Analytics" visibilityMode="None" name="AnalyticsTimelineDashboard" />
						<add enabled="True" type="Telerik.Sitefinity.Licensing.Web.UI.LicenseExpirationWidget, Telerik.Sitefinity" title="LicenseExpirationWidgetTitle" description="LicenseExpirationWidgetDescription" resourceClassId="LicensingMessages" cssClass="sfLicenseExpIcn" moduleName="Dashboard" visibilityMode="None" name="LicenseExpirationWidget" />
						<add enabled="True" type="Telerik.Sitefinity.Dashboard.Web.UI.DashboardRecentItemsView, Telerik.Sitefinity.Dashboard" title="DashboardViewTitle" description="DashboardViewDescription" resourceClassId="DashboardResources" cssClass="sfRecentItemsIcn" moduleName="Dashboard" visibilityMode="None" name="DashboardRecentItemsView" />
						<add enabled="False" type="Telerik.Sitefinity.Dashboard.Web.UI.DashboardWelcomeWidget, Telerik.Sitefinity.Dashboard" title="DashboardWelcomeWidgetTitle" description="DashboardWelcomeWidgetDescription" resourceClassId="DashboardResources" moduleName="Dashboard" visibilityMode="None" name="DashboardWelcomeWidget" />
						<add enabled="False" type="Telerik.Sitefinity.Dashboard.Web.UI.DashboardConfigureWidget, Telerik.Sitefinity.Dashboard" title="DashboardConfigureWidgetTitle" description="DashboardConfigureWidgetDescription" resourceClassId="DashboardResources" moduleName="Dashboard" visibilityMode="None" name="DashboardConfigureWidget" />
						<add enabled="True" type="Telerik.Sitefinity.RecycleBin.Web.UI.DashboardWidget.RecyclePanelWidget, Telerik.Sitefinity.RecycleBin" title="RecycleBinResourcesTitle" description="RecycleBinGroupPageDescription" resourceClassId="RecycleBinResources" moduleName="Dashboard" visibilityMode="None" name="RecyclePanelWidget" />
						<add enabled="True" type="Telerik.Sitefinity.Dashboard.Web.UI.DashboardDecWidget, Telerik.Sitefinity.Dashboard" title="DecWidgetTitle" description="DecWidgetDescription" resourceClassId="DashboardResources" moduleName="Dashboard" visibilityMode="None" name="DashboardDecWidget" />
					</tools>
				</add>
				<add enabled="True" title="NewslettersToolboxSectionTitle" description="NewslettersToolboxSectionDescription" resourceClassId="PageResources" ordinal="0" name="NewslettersToolboxSectionName">
					<tools>
						<add enabled="True" type="Telerik.Sitefinity.Modules.Newsletters.Web.UI.Public.SubscribeForm, Telerik.Sitefinity" title="SubscribeFormTitle" description="SubscribeFormDescription" resourceClassId="NewslettersResources" cssClass="sfFormsIcn" moduleName="Newsletters" visibilityMode="None" name="SubscribeForm" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.Newsletters.Web.UI.Public.UnsubscribeForm, Telerik.Sitefinity" title="UnsubscribeFormTitle" description="UnsubscribeFormDescription" resourceClassId="NewslettersResources" cssClass="sfFormsIcn" moduleName="Newsletters" visibilityMode="None" name="UnsubscribeForm" />
					</tools>
				</add>
				<add enabled="True" title="EcommerceToolboxSectionTitle" description="EcommerceToolboxSectionTitle" resourceClassId="EcommerceResources" ordinal="0" name="Ecommerce">
					<tools>
						<add enabled="True" type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.ProductsView, Telerik.Sitefinity.Ecommerce" title="ProductsViewToolboxName" description="ProductsViewToolboxDescription" resourceClassId="CatalogResources" cssClass="sfProductsListIcn" moduleName="Ecommerce" visibilityMode="None" name="ProductsView" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.ShoppingCart, Telerik.Sitefinity.Ecommerce" title="ShoppingCartToolboxName" description="ShoppingCartToolboxDescription" resourceClassId="OrdersResources" cssClass="sfShoppingCartIcn" moduleName="Ecommerce" visibilityMode="None" name="ShoppingCart" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.ShoppingCartSummaryViews.ShoppingCartSummary, Telerik.Sitefinity.Ecommerce" title="ShoppingCartSummaryToolboxName" description="ShoppingCartSummaryToolboxDescription" resourceClassId="OrdersResources" cssClass="sfCartSummaryIcn" moduleName="Ecommerce" visibilityMode="None" name="ShoppingCartSummary" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Checkout, Telerik.Sitefinity.Ecommerce" title="CheckoutToolboxName" description="CheckoutToolboxDescription" resourceClassId="OrdersResources" cssClass="sfCheckoutIcn" moduleName="Ecommerce" visibilityMode="None" name="Checkout" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.Ecommerce.Web.UI.CurrencySelectorControl, Telerik.Sitefinity.Ecommerce" title="CurrencySelector" description="CurrencySelector" resourceClassId="EcommerceResources" cssClass="sfCurrencySelectorIcn" moduleName="Ecommerce" visibilityMode="None" name="CurrencySelector" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.OrdersList, Telerik.Sitefinity.Ecommerce" title="OrdersList" description="OrdersList" resourceClassId="OrdersResources" cssClass="sfOrdersListIcn" moduleName="Ecommerce" visibilityMode="None" name="OrdersList" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.OrderInvoiceView, Telerik.Sitefinity.Ecommerce" title="OrderInvoice" description="OrderInvoice" resourceClassId="OrdersResources" cssClass="sfOrderInvoiceIcn" moduleName="Ecommerce" visibilityMode="None" name="OrderInvoice" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.DigitalDownloads, Telerik.Sitefinity.Ecommerce" title="YourDownloads" description="YourDownloads" resourceClassId="OrdersResources" cssClass="sfDigitalProductsListIcn" moduleName="Ecommerce" visibilityMode="None" name="DigitalDownloads" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.DepartmentControl, Telerik.Sitefinity.Ecommerce" title="Departments" description="Departments" resourceClassId="CatalogResources" cssClass="sfNavigationIcn" moduleName="Ecommerce" TaxonomyId="d7831091-e7b1-41b8-9e75-dff32d6a7837" FieldName="Department" visibilityMode="None" name="Departments" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Views.BuyNowView, Telerik.Sitefinity.Ecommerce" title="BuyNowViewToolboxName" description="BuyNowViewToolboxDescription" resourceClassId="CatalogResources" cssClass="sfBuyNowIcn" moduleName="Ecommerce" visibilityMode="None" name="BuyNowView" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.GoogleConversionTracking, Telerik.Sitefinity.Ecommerce" title="GoogleConversionTracking" description="GoogleConversionTracking" resourceClassId="OrdersResources" cssClass="sfLinkedFileViewIcn" moduleName="Ecommerce" visibilityMode="None" name="GoogleConversionTracking" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.FilterProductsControl, Telerik.Sitefinity.Ecommerce" title="ProductFilterTitle" description="ProductFilterTitle" resourceClassId="CatalogResources" cssClass="sfProductFilterIcn" moduleName="Ecommerce" visibilityMode="None" name="FilterProducts" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.WishlistControl, Telerik.Sitefinity.Ecommerce" title="WishListToolboxName" description="WishListToolboxDescription" resourceClassId="OrdersResources" cssClass="sfWishListIcn" moduleName="Ecommerce" visibilityMode="None" name="WishList" />
					</tools>
				</add>
				<add enabled="True" title="Authors" description="Holds all dynamic content widgets for the authors module." ordinal="0" name="Telerik.Sitefinity.DynamicTypes.Model.Authors">
					<tools>
						<add enabled="True" type="Telerik.Sitefinity.DynamicModules.Web.UI.Frontend.DynamicContentView, Telerik.Sitefinity" title="Authors" cssClass="sfNewsViewIcn" moduleName="Authors" DynamicContentTypeName="Telerik.Sitefinity.DynamicTypes.Model.Authors.Author" DefaultMasterTemplateKey="53ebff31-ebfb-67f3-ba7d-ff000072e94b" DefaultDetailTemplateKey="54ebff31-ebfb-67f3-ba7d-ff000072e94b" visibilityMode="None" name="Telerik.Sitefinity.DynamicTypes.Model.Authors.Author" />
						<add enabled="True" type="Telerik.Sitefinity.Frontend.Mvc.Infrastructure.Controllers.MvcWidgetProxy, Telerik.Sitefinity.Frontend" controllerType="Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Controllers.DynamicContentController" title="Authors MVC" moduleName="Authors" WidgetName="Author" ControllerName="Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Controllers.DynamicContentController" visibilityMode="None" name="Telerik.Sitefinity.DynamicTypes.Model.Authors.Author_MVC" />
					</tools>
				</add>
				<add enabled="True" title="Issues" description="Holds all dynamic content widgets for the issues module." ordinal="0" name="Telerik.Sitefinity.DynamicTypes.Model.Issues">
					<tools>
						<add enabled="True" type="Telerik.Sitefinity.DynamicModules.Web.UI.Frontend.DynamicContentView, Telerik.Sitefinity" title="Issues" cssClass="sfNewsViewIcn" moduleName="Issues" DynamicContentTypeName="Telerik.Sitefinity.DynamicTypes.Model.Issues.Issue" DefaultMasterTemplateKey="b6ebff31-ebfb-67f3-ba7d-ff000072e94b" DefaultDetailTemplateKey="b7ebff31-ebfb-67f3-ba7d-ff000072e94b" visibilityMode="None" name="Telerik.Sitefinity.DynamicTypes.Model.Issues.Issue" />
						<add enabled="True" type="Telerik.Sitefinity.Frontend.Mvc.Infrastructure.Controllers.MvcWidgetProxy, Telerik.Sitefinity.Frontend" controllerType="Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Controllers.DynamicContentController" title="Issues MVC" moduleName="Issues" WidgetName="Issue" ControllerName="Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Controllers.DynamicContentController" visibilityMode="None" name="Telerik.Sitefinity.DynamicTypes.Model.Issues.Issue_MVC" />
					</tools>
				</add>
				<add enabled="True" title="MvcWidgets" ordinal="0" name="MvcWidgets">
					<tools>
						<add enabled="True" type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.ContentBlock.Mvc.Controllers.ContentBlockController" title="ContentBlock" ControllerName="Telerik.Sitefinity.Frontend.ContentBlock.Mvc.Controllers.ContentBlockController" visibilityMode="None" name="ContentBlock" />
						<add enabled="True" type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Navigation.Mvc.Controllers.NavigationController" title="Navigation" ControllerName="Telerik.Sitefinity.Frontend.Navigation.Mvc.Controllers.NavigationController" visibilityMode="None" name="Navigation" />
						<add enabled="True" type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.News.Mvc.Controllers.NewsController" title="News" ControllerName="Telerik.Sitefinity.Frontend.News.Mvc.Controllers.NewsController" visibilityMode="None" name="News" />
						<add enabled="True" type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Search.Mvc.Controllers.SearchBoxController" title="Search box" moduleName="Search" ControllerName="Telerik.Sitefinity.Frontend.Search.Mvc.Controllers.SearchBoxController" visibilityMode="None" name="SearchBox" />
						<add enabled="True" type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Search.Mvc.Controllers.SearchResultsController" title="Search results" moduleName="Search" ControllerName="Telerik.Sitefinity.Frontend.Search.Mvc.Controllers.SearchResultsController" visibilityMode="None" name="SearchResults" />
						<add enabled="True" type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.SocialShare.Mvc.Controllers.SocialShareController" title="Social share" ControllerName="Telerik.Sitefinity.Frontend.SocialShare.Mvc.Controllers.SocialShareController" visibilityMode="None" name="SocialShare" />
						<add enabled="True" type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Identity.Mvc.Controllers.ChangePasswordController" title="Change password" cssClass="sfChangePasswordIcn" ControllerName="Telerik.Sitefinity.Frontend.Identity.Mvc.Controllers.ChangePasswordController" visibilityMode="None" name="ChangePasswordMVC" />
						<add enabled="True" type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Identity.Mvc.Controllers.ProfileController" title="Profile" cssClass="sfProfilecn" ControllerName="Telerik.Sitefinity.Frontend.Identity.Mvc.Controllers.ProfileController" visibilityMode="None" name="ProfileMVC" />
						<add enabled="True" type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Identity.Mvc.Controllers.AccountActivationController" title="Account activation" cssClass="sfAccountActivationIcn" ControllerName="Telerik.Sitefinity.Frontend.Identity.Mvc.Controllers.AccountActivationController" visibilityMode="None" name="AccountActivation" />
						<add enabled="True" type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Identity.Mvc.Controllers.RegistrationController" title="Registration" cssClass="sfCreateAccountIcn" ControllerName="Telerik.Sitefinity.Frontend.Identity.Mvc.Controllers.RegistrationController" visibilityMode="None" name="Registration" />
						<add enabled="True" type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Identity.Mvc.Controllers.LoginFormController" title="Login form" cssClass="sfLoginIcn" ControllerName="Telerik.Sitefinity.Frontend.Identity.Mvc.Controllers.LoginFormController" visibilityMode="None" name="LoginFormMVC" />
						<add enabled="True" type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Identity.Mvc.Controllers.LoginStatusController" title="Login / Logout button" cssClass="sfLoginNameIcn" ControllerName="Telerik.Sitefinity.Frontend.Identity.Mvc.Controllers.LoginStatusController" visibilityMode="None" name="LoginStatusMVC" />
						<add enabled="True" type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Media.Mvc.Controllers.ImageController" title="Image" cssClass="sfImageViewIcn" moduleName="Libraries" ControllerName="Telerik.Sitefinity.Frontend.Media.Mvc.Controllers.ImageController" visibilityMode="None" name="Image" />
						<add enabled="True" type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Media.Mvc.Controllers.ImageGalleryController" title="Image gallery" cssClass="sfImageLibraryViewIcn" moduleName="Libraries" ControllerName="Telerik.Sitefinity.Frontend.Media.Mvc.Controllers.ImageGalleryController" visibilityMode="None" name="ImageGallery" />
					</tools>
				</add>
			</sections>
		</toolbox>
		<toolbox name="PageLayouts">
			<sections>
				<add enabled="True" title="Bootstrap grid widgets" ordinal="0" name="HtmlLayouts">
					<tools>
						<add enabled="True" type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="Empty placeholder" cssClass="empty" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/empty-placeholder.html" visibilityMode="None" name="empty-placeholder" />
						<add enabled="True" type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="ContentWrapper" cssClass="container" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/grid-container.html" visibilityMode="None" name="ContentWrapper" />
						<add enabled="True" type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="ContainerFluid" cssClass="sfL100" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/container-fluid.html" visibilityMode="None" name="ContainerFluid" />
						<add enabled="True" type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="12" cssClass="sfL100" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/grid-12.html" visibilityMode="None" name="Col1" />
						<add enabled="True" type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="3 + 9" cssClass="sfL25_75" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/grid-3+9.html" visibilityMode="None" name="Col2T1" />
						<add enabled="True" type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="4 + 8" cssClass="sfL33_67" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/grid-4+8.html" visibilityMode="None" name="Col2T2" />
						<add enabled="True" type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="6 + 6" cssClass="sfL50_50" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/grid-6+6.html" visibilityMode="None" name="Col2T3" />
						<add enabled="True" type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="8 + 4" cssClass="sfL67_33" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/grid-8+4.html" visibilityMode="None" name="Col2T4" />
						<add enabled="True" type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="9 + 3" cssClass="sfL75_25" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/grid-9+3.html" visibilityMode="None" name="Col2T5" />
						<add enabled="True" type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="4 + 4 + 4" cssClass="sfL33_34_33" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/grid-4+4+4.html" visibilityMode="None" name="Col3T1" />
						<add enabled="True" type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="3 + 6 + 3" cssClass="sfL25_50_25" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/grid-3+6+3.html" visibilityMode="None" name="Col3T2" />
						<add enabled="True" type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="3 + 3 + 3 + 3" cssClass="sfL25_25_25_25" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/grid-3+3+3+3.html" visibilityMode="None" name="Col4T1" />
						<add enabled="True" type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="2 + 3 + 2 + 3 + 2" cssClass="sfL20_20_20_20_20" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/grid-2+3+2+3+2.html" visibilityMode="None" name="Col5T1" />
						<add enabled="True" type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="container" cssClass="sfL100" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/container.html" visibilityMode="None" name="Col1T1" />
					</tools>
				</add>
			</sections>
		</toolbox>
	</toolboxes>
</toolboxesConfig>