<?xml version="1.0" encoding="utf-8"?>
<workflowConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.0.5700.0">
	<workflowsTypes>
		<add serviceUrl="~/DefaultWorkflows/AnyContentApprovalWorkflow.xamlx" title="NewsTitle" resourceClassId="NewsResources" moduleName="News" contentType="Telerik.Sitefinity.News.Model.NewsItem" />
		<add serviceUrl="~/DefaultWorkflows/AnyContentApprovalWorkflow.xamlx" title="BlogsTitle" resourceClassId="BlogResources" moduleName="Blogs" contentType="Telerik.Sitefinity.Blogs.Model.BlogPost" />
		<add serviceUrl="~/DefaultWorkflows/AnyContentApprovalWorkflow.xamlx" title="ModuleTitle" resourceClassId="EventsResources" moduleName="Events" contentType="Telerik.Sitefinity.Events.Model.Event" />
		<add serviceUrl="~/DefaultWorkflows/AnyContentApprovalWorkflow.xamlx" title="Lists" resourceClassId="ListsResources" moduleName="Lists" contentType="Telerik.Sitefinity.Lists.Model.ListItem" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="General product &lt;i&gt;(Ecommerce)&lt;/i&gt;" moduleName="Ecommerce" contentType="Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_generalproduct" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="Book &lt;i&gt;(Ecommerce)&lt;/i&gt;" moduleName="Ecommerce" contentType="Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_book" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="Song &lt;i&gt;(Ecommerce)&lt;/i&gt;" moduleName="Ecommerce" contentType="Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_song" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="Software &lt;i&gt;(Ecommerce)&lt;/i&gt;" moduleName="Ecommerce" contentType="Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_software" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="Author" moduleName="Authors" contentType="Telerik.Sitefinity.DynamicTypes.Model.Authors.Author" />
		<add title="Issue" moduleName="Issues" contentType="Telerik.Sitefinity.DynamicTypes.Model.Issues.Issue" />
	</workflowsTypes>
</workflowConfig>