@model SingleDynamicContent.Mvc.Models.SingleDynamicContentModel

<h3>
    Output some data from the model here:
	
	@if(Model.Item != null){
        @Html.Raw(Model.Item.Id);
	}
	else{
	    @Html.Raw("No items found for the selected type!");
	}
</h3>