<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.7.2.3" targetFramework="net48" />
  <package id="AWSSDK.DynamoDBv2" version="3.7.0.52" targetFramework="net48" />
  <package id="AWSSDK.S3" version="3.7.1.23" targetFramework="net48" />
  <package id="AWSSDK.SQS" version="3.7.0.52" targetFramework="net48" />
  <package id="EnyimMemcached" version="2.16.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net48" />
  <package id="Ninject.Web.Common" version="3.2.3.0" targetFramework="net48" />
  <package id="Progress.Sitefinity.NativeChatConnector" version="14.1.7800" targetFramework="net48" />
  <package id="Progress.Sitefinity.Renderer" version="14.1.7800.48306" targetFramework="net48" />
  <package id="RazorGenerator.Mvc" version="2.3.12" targetFramework="net48" />
  <package id="ServiceStack" version="5.12.0" targetFramework="net48" />
  <package id="ServiceStack.Aws" version="5.12.0" targetFramework="net48" />
  <package id="ServiceStack.Caching.Memcached" version="5.12.0" targetFramework="net48" />
  <package id="ServiceStack.Client" version="5.12.0" targetFramework="net48" />
  <package id="ServiceStack.Common" version="5.12.0" targetFramework="net48" />
  <package id="ServiceStack.Interfaces" version="5.12.0" targetFramework="net48" />
  <package id="ServiceStack.OrmLite" version="5.12.0" targetFramework="net48" />
  <package id="ServiceStack.OrmLite.SqlServer" version="5.12.0" targetFramework="net48" />
  <package id="ServiceStack.Redis" version="5.12.0" targetFramework="net48" />
  <package id="ServiceStack.Server" version="5.12.0" targetFramework="net48" />
  <package id="ServiceStack.Text" version="5.12.0" targetFramework="net48" />
  <package id="Sitefinity.RazorEngine" version="3.0.8.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.Linq.Async" version="5.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="Telerik.DataAccess.Core" version="2020.0.428.1" targetFramework="net48" />
  <package id="Telerik.DataAccess.Web35" version="2020.0.428.1" targetFramework="net48" />
  <package id="Telerik.Sitefinity.Connectivity" version="14.1.7800" targetFramework="net48" />
  <package id="Telerik.Sitefinity.Core" version="14.1.7800" targetFramework="net48" />
  <package id="Telerik.Sitefinity.Feather.Core" version="14.1.7800" targetFramework="net48" />
  <package id="Telerik.Sitefinity.Mvc" version="14.1.7800" targetFramework="net48" />
  <package id="Telerik.Web.UI" version="2021.3.914.45" targetFramework="net48" />
  <package id="WebActivatorEx" version="2.0.3" targetFramework="net48" />
</packages>