<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Services.Events" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.5300.0" newVersion="7.2.5300.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.OpenAccess" publicKeyToken="7ce17eeaf1d59342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2014.2.918.1" newVersion="2014.2.918.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.OpenAccess.35.Extensions" publicKeyToken="7ce17eeaf1d59342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2014.2.918.1" newVersion="2014.2.918.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Web.UI" publicKeyToken="121fae78165ba3d4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2014.2.724.40" newVersion="2014.2.724.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Services.Notifications" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.5300.0" newVersion="7.2.5300.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Services.Comments" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.5300.0" newVersion="7.2.5300.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Services.Statistics" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.5300.0" newVersion="7.2.5300.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Services.Documents" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.5300.0" newVersion="7.2.5300.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Search" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.5300.0" newVersion="7.2.5300.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Personalization" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.5300.0" newVersion="7.2.5300.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Services.RecycleBin" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.5300.0" newVersion="7.2.5300.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.5300.0" newVersion="7.2.5300.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Model" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.5300.0" newVersion="7.2.5300.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Ecommerce" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.5300.0" newVersion="7.2.5300.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Utilities" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.5300.0" newVersion="7.2.5300.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>