@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href='~/ResourcePackages/BootstrapCustom/assets/dist/css/styles.min.css' type="text/css" />
</head>
<body>
    <div class="sfPublicWrapper" id="PublicWrapper">		
        @Html.SfPlaceHolder("Contentplaceholder1")		
    </div>

	<script src="~/ResourcePackages/BootstrapCustom/assets/dist/js/all.min.js"></script>

    <script>
        $(document).ready(function () {
            $(".js-nav-fixed").fixit({
                top: 0,
                fixClass: "is-fixed",
                dummyClass: "fixed-dummy",
                classOnly: true,
                renderDummy: true
            });
        });

    </script>
</body>
</html>
