<?xml version="1.0" encoding="utf-8"?>
<analyticsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="7.3.5600.0">
	<Sites>
		<add SiteName="SF_7_1_5208" SiteId="00b7dd34-a465-4062-a7ca-28cc4d043507" />
	</Sites>
</analyticsConfig>