<?xml version="1.0" encoding="utf-8"?>
<authenticationConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.0.6400.0" encryptionKey="500B0F041873E13A7BE9E7A237D34097E385261964F9A4F813774EB51B14EBBC">
	<securityTokenServiceSettings>
		<identityServerSettings>
			<identityServerClients>
				<add clientId="sitefinity" enabled="True" flow="Implicit" allowedScopes="openid profile rememberMe" clientName="sitefinity" />
			</identityServerClients>
		</identityServerSettings>
		<authenticationProviders>
			<add title="Windows" linkCssClass="-sf-windows-button" name="WindowsAuthentication" type:this="Telerik.Sitefinity.Authentication.Configuration.SecurityTokenService.ExternalProviders.WindowsAuthenticationProviderElement, Telerik.Sitefinity.Authentication" />
			<add title="ADFS" linkCssClass="-sf-adfs-button" name="ADFS" type:this="Telerik.Sitefinity.Authentication.Configuration.SecurityTokenService.ExternalProviders.AdfsAuthenticationProviderElement, Telerik.Sitefinity.Authentication" />
			<add title="Facebook" linkCssClass="-sf-facebook-button" name="Facebook" type:this="Telerik.Sitefinity.Authentication.Configuration.SecurityTokenService.ExternalProviders.FacebookAuthenticationProviderElement, Telerik.Sitefinity.Authentication" />
			<add title="Google" linkCssClass="-sf-google-button" name="Google" type:this="Telerik.Sitefinity.Authentication.Configuration.SecurityTokenService.ExternalProviders.GoogleAuthenticationProviderElement, Telerik.Sitefinity.Authentication" />
			<add title="Microsoft" linkCssClass="-sf-microsoft-button" name="Microsoft" type:this="Telerik.Sitefinity.Authentication.Configuration.SecurityTokenService.ExternalProviders.MicrosoftAuthenticationProviderElement, Telerik.Sitefinity.Authentication" />
			<add title="Twitter" linkCssClass="-sf-twitter-button" name="Twitter" type:this="Telerik.Sitefinity.Authentication.Configuration.SecurityTokenService.ExternalProviders.TwitterAuthenticationProviderElement, Telerik.Sitefinity.Authentication" />
			<add title="LinkedIn" linkCssClass="-sf-linkedin-button" name="LinkedIn" type:this="Telerik.Sitefinity.Authentication.Configuration.SecurityTokenService.ExternalProviders.LinkedInAuthenticationProviderElement, Telerik.Sitefinity.Authentication" />
			<add title="GitHub" linkCssClass="-sf-github-button" name="GitHub" type:this="Telerik.Sitefinity.Authentication.Configuration.SecurityTokenService.ExternalProviders.GitHubAuthenticationProviderElement, Telerik.Sitefinity.Authentication" />
		</authenticationProviders>
	</securityTokenServiceSettings>
</authenticationConfig>