<?xml version="1.0" encoding="utf-8"?>
<view xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.1.7400.0" viewName="ProductsBackendMaster" config:flags="1">
	<decisionScreens>
		<add name="NoProductsExistScreen" config:flags="1">
			<actions>
				<add commandName="insert_command_sf_ec_prdct_generalproduct" commandButtonType="Create" objectProviderName="OpenAccessDataProvider" cssClass="sfCreateSubsequentItem" text="General product" name="Createsf_ec_prdct_generalproduct" />
				<add commandName="insert_command_sf_ec_prdct_book" commandButtonType="Create" objectProviderName="OpenAccessDataProvider" cssClass="sfCreateSubsequentItem" text="Book" name="Createsf_ec_prdct_book" />
				<add commandName="insert_command_sf_ec_prdct_song" commandButtonType="Create" objectProviderName="OpenAccessDataProvider" cssClass="sfCreateSubsequentItem" text="Song" name="Createsf_ec_prdct_song" />
				<add commandName="insert_command_sf_ec_prdct_software" commandButtonType="Create" objectProviderName="OpenAccessDataProvider" cssClass="sfCreateSubsequentItem" text="Software" name="Createsf_ec_prdct_software" />
			</actions>
		</add>
	</decisionScreens>
	<dialogs>
		<add name="ContentViewInsertDialog" openOnCommand="insert_command_sf_ec_prdct_generalproduct" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=insert_sf_ec_prdct_generalproduct&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_generalproduct" cssclass="sfMaximizedWindow" id="ContentViewInsertDialog on insert_command_sf_ec_prdct_generalproduct" />
		<add name="ContentViewEditDialog" openOnCommand="edit_command_sf_ec_prdct_generalproduct" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=edit_sf_ec_prdct_generalproduct&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_generalproduct" cssclass="sfMaximizedWindow" id="ContentViewEditDialog on edit_command_sf_ec_prdct_generalproduct" />
		<add name="ContentViewInsertDialog" openOnCommand="insert_command_sf_ec_prdct_book" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=insert_sf_ec_prdct_book&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_book" cssclass="sfMaximizedWindow" id="ContentViewInsertDialog on insert_command_sf_ec_prdct_book" />
		<add name="ContentViewEditDialog" openOnCommand="edit_command_sf_ec_prdct_book" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=edit_sf_ec_prdct_book&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_book" cssclass="sfMaximizedWindow" id="ContentViewEditDialog on edit_command_sf_ec_prdct_book" />
		<add name="ContentViewInsertDialog" openOnCommand="insert_command_sf_ec_prdct_song" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=insert_sf_ec_prdct_song&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_song" cssclass="sfMaximizedWindow" id="ContentViewInsertDialog on insert_command_sf_ec_prdct_song" />
		<add name="ContentViewEditDialog" openOnCommand="edit_command_sf_ec_prdct_song" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=edit_sf_ec_prdct_song&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_song" cssclass="sfMaximizedWindow" id="ContentViewEditDialog on edit_command_sf_ec_prdct_song" />
		<add name="ContentViewInsertDialog" openOnCommand="insert_command_sf_ec_prdct_software" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=insert_sf_ec_prdct_software&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_software" cssclass="sfMaximizedWindow" id="ContentViewInsertDialog on insert_command_sf_ec_prdct_software" />
		<add name="ContentViewEditDialog" openOnCommand="edit_command_sf_ec_prdct_software" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" params="?ControlDefinitionName=ProductsBackendDefinitionName&amp;ViewName=edit_sf_ec_prdct_software&amp;itemType=Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_software" cssclass="sfMaximizedWindow" id="ContentViewEditDialog on edit_command_sf_ec_prdct_software" />
	</dialogs>
	<toolbar>
		<sections>
			<section name="toolbar" config:flags="1">
				<items>
					<item name="MenuToolboxItem" config:flags="1">
						<menuItems>
							<item commandName="insert_command_sf_ec_prdct_generalproduct" objectProviderName="OpenAccessDataProvider" cssClass="sfCreateItm" text="General product" wrapperTagKey="Li" widgetType="Telerik.Sitefinity.Web.UI.Backend.Elements.Widgets.CommandWidget, Telerik.Sitefinity" name="MenuCreatesf_ec_prdct_generalproduct" type:this="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.CommandWidgetElement, Telerik.Sitefinity" />
							<item commandName="insert_command_sf_ec_prdct_book" objectProviderName="OpenAccessDataProvider" cssClass="sfCreateItm" text="Book" wrapperTagKey="Li" widgetType="Telerik.Sitefinity.Web.UI.Backend.Elements.Widgets.CommandWidget, Telerik.Sitefinity" name="MenuCreatesf_ec_prdct_book" type:this="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.CommandWidgetElement, Telerik.Sitefinity" />
							<item commandName="insert_command_sf_ec_prdct_song" objectProviderName="OpenAccessDataProvider" cssClass="sfCreateItm" text="Song" wrapperTagKey="Li" widgetType="Telerik.Sitefinity.Web.UI.Backend.Elements.Widgets.CommandWidget, Telerik.Sitefinity" name="MenuCreatesf_ec_prdct_song" type:this="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.CommandWidgetElement, Telerik.Sitefinity" />
							<item commandName="insert_command_sf_ec_prdct_software" objectProviderName="OpenAccessDataProvider" cssClass="sfCreateItm" text="Software" wrapperTagKey="Li" widgetType="Telerik.Sitefinity.Web.UI.Backend.Elements.Widgets.CommandWidget, Telerik.Sitefinity" name="MenuCreatesf_ec_prdct_software" type:this="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.CommandWidgetElement, Telerik.Sitefinity" />
						</menuItems>
					</item>
				</items>
			</section>
		</sections>
	</toolbar>
</view>