<?xml version="1.0" encoding="utf-8"?>
<commentsModuleConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.2.6600.0">
	<CommentableTypes>
		<commentableType AllowComments="False" ItemType="Telerik.Sitefinity.Pages.Model.PageNode" config:flags="1" />
		<commentableType AllowComments="False" ItemType="Telerik.Sitefinity.Libraries.Model.Image" config:flags="1" />
		<commentableType AllowComments="False" ItemType="Telerik.Sitefinity.Libraries.Model.Video" config:flags="1" />
		<commentableType AllowComments="False" ItemType="Telerik.Sitefinity.Libraries.Model.Document" config:flags="1" />
		<commentableType AllowComments="False" ItemType="Telerik.Sitefinity.Lists.Model.ListItem" config:flags="1" />
		<commentableType FriendlyName="Product" EnableRatings="True" ItemType="Telerik.Sitefinity.Ecommerce.Catalog.Model.Product" />
	</CommentableTypes>
</commentsModuleConfig>