<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.2.6900.0" initialized="True" guidGenerationStrategy="Incremental">
	<databaseMappingOptions useMultilingualSplitTables="False" mainFieldsIgnoredCultures="ALLCULTURES">
		<azureOptions useMsSqlIdentifierLimitations="False" />
	</databaseMappingOptions>
	<connectionStrings>
		<add connectionString="data source=.;Integrated Security=SSPI;initial catalog=DevMagazine" name="Sitefinity" />
	</connectionStrings>
	<urlEvaluators>
		<add description="ProductTypeFilterEvaluatorDescription" resourceClassId="CatalogResources" type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UrlEvaluators.ProductTypeFilterUrlEvaluator, Telerik.Sitefinity.Ecommerce" name="ProductTypeFilter" />
		<add description="PriceFilterEvaluatorDescription" resourceClassId="CatalogResources" type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UrlEvaluators.PriceFilterUrlEvaluator, Telerik.Sitefinity.Ecommerce" name="PriceFilter" />
		<add description="RatingFilterEvaluatorDescription" resourceClassId="CatalogResources" type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UrlEvaluators.RatingFilterUrlEvaluator, Telerik.Sitefinity.Ecommerce" name="RatingFilter" />
		<add description="DepartmentFilterEvaluatorDescription" resourceClassId="CatalogResources" type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UrlEvaluators.DepartmentFilterUrlEvaluator, Telerik.Sitefinity.Ecommerce" name="DepartmentFilter" />
		<add description="TagFilterEvaluatorDescription" resourceClassId="CatalogResources" type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UrlEvaluators.TagFilterUrlEvaluator, Telerik.Sitefinity.Ecommerce" name="TagFilter" />
		<add description="ClassificationFilterEvaluatorDescription" resourceClassId="CatalogResources" type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UrlEvaluators.ClassificationFilterUrlEvaluator, Telerik.Sitefinity.Ecommerce" name="ClassificationFilter" />
		<add description="WishlistGuidEvaluatorDescription" resourceClassId="CatalogResources" type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UrlEvaulators.WishlistGuidEvaluator, Telerik.Sitefinity.Ecommerce" name="WishlistGuid" />
		<add description="ForumsEvaluatorDescription" resourceClassId="ForumsResources" type="Telerik.Sitefinity.Forums.Web.ForumsEvaluator, Telerik.Sitefinity.Forums" name="Forums" />
	</urlEvaluators>
</dataConfig>