<?xml version="1.0" encoding="utf-8"?>
<digitalExperienceCloudConnectorConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="7.3.5328.0">
	<serverHandlers>
		<add predicate="Submit form" enabled="True" title="Submitted  form" group="Forms" handlerType="Telerik.Sitefinity.DataIntelligenceConnector.EventHandlers.FormEntrySubmittedTrackingHandler" />
		<add predicate="Create forum post under" enabled="True" title="Created forum post" group="Forums" handlerType="Telerik.Sitefinity.DataIntelligenceConnector.EventHandlers.ForumPostCreatedTrackingHandler" />
		<add predicate="Create forum thread" enabled="True" title="Created forum thread" group="Forums" handlerType="Telerik.Sitefinity.DataIntelligenceConnector.EventHandlers.ForumThreadCreatedTrackingHandler" />
		<add predicate="Download file" enabled="True" title="Downloaded  document" group="Files" handlerType="Telerik.Sitefinity.DataIntelligenceConnector.EventHandlers.MediaContentDownloadTrackingHandler" />
		<add predicate="Post comment" enabled="True" title="Created comment" group="Comments" handlerType="Telerik.Sitefinity.DataIntelligenceConnector.EventHandlers.CommentCreatedTrackingHandler" />
		<add predicate="Subscribe to forum thread" enabled="True" title="Subscribed to a forum thread" group="Forums" handlerType="Telerik.Sitefinity.DataIntelligenceConnector.EventHandlers.ForumThreadSubscriptionCreatedTrackingHandler" />
		<add predicate="Unsubscribe from forum thread" enabled="True" title="Unsubscribed from a forum thread" group="Forums" handlerType="Telerik.Sitefinity.DataIntelligenceConnector.EventHandlers.ForumThreadSubscriptionDeletedTrackingHandler" />
		<add predicate="Subscribe to forum" enabled="True" title="Subscribed to a forum" group="Forums" handlerType="Telerik.Sitefinity.DataIntelligenceConnector.EventHandlers.ForumSubscriptionCreatedTrackingHandler" />
		<add predicate="Unsubscribe from forum" enabled="True" title="Unsubscribed from a forum" group="Forums" handlerType="Telerik.Sitefinity.DataIntelligenceConnector.EventHandlers.ForumSubscriptionDeletedTrackingHandler" />
		<add predicate="Subscribe to newsletter" enabled="True" title="Subscribed to email campaign" group="Email campaigns" handlerType="Telerik.Sitefinity.DataIntelligenceConnector.EventHandlers.NewsletterSubscriptionCreatedTrackingHandler" />
		<add predicate="Unsubscribe from newsletter" enabled="True" title="Unsubscribed from email campaign" group="Email campaigns" handlerType="Telerik.Sitefinity.DataIntelligenceConnector.EventHandlers.NewsletterSubscriptionDeletedTrackingHandler" />
		<add predicate="Login" enabled="True" title="User logged in" group="Users" handlerType="Telerik.Sitefinity.DataIntelligenceConnector.EventHandlers.UserLoginHandler" />
		<add predicate="View personalized page" enabled="True" title="Visited personalized page" group="Pages" handlerType="Telerik.Sitefinity.DataIntelligenceConnector.EventHandlers.PersonalizedPageTrackingHandler" />
		<add predicate="Register" enabled="True" title="User registered" group="Users" handlerType="Telerik.Sitefinity.DataIntelligenceConnector.EventHandlers.UserRegisteredTrackingHandler" />
		<add predicate="Activate user" enabled="True" title="User activated account" group="Users" handlerType="Telerik.Sitefinity.DataIntelligenceConnector.EventHandlers.UserActivatedTrackingHandler" />
	</serverHandlers>
	<mappingHandlers>
		<add enabled="True" title="User mapping (map user with activities upon login)" group="Users" handlerType="Telerik.Sitefinity.DataIntelligenceConnector.EventHandlers.LoginMappingHandler" />
	</mappingHandlers>
	<subjectMetadataHandlers>
		<add enabled="True" title="User metadata" group="Users" handlerType="Telerik.Sitefinity.DataIntelligenceConnector.EventHandlers.UserCreatedTrackingHandler" />
		<add enabled="True" title="User profile metadata" group="Users" handlerType="Telerik.Sitefinity.DataIntelligenceConnector.EventHandlers.UserProfileCreatedTrackingHandler" />
	</subjectMetadataHandlers>
</digitalExperienceCloudConnectorConfig>