<?xml version="1.0" encoding="utf-8"?>
<view xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.2.6200.0" viewName="AuthorBackendEditView" config:flags="1">
	<sections>
		<sections ordinal="0" name="MainSection" config:flags="1" />
		<sections ordinal="1" name="RelatedMedia" config:flags="1" />
		<sections ordinal="2" name="MoreOptions" config:flags="1" />
		<sections ordinal="3" name="toolbarSection" config:flags="1" />
		<sections ordinal="5" name="HeaderSection" config:flags="1" />
		<sections ordinal="4" name="SidebarSection" config:flags="1" />
	</sections>
</view>