<?xml version="1.0" encoding="utf-8"?>
<view xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.2.6200.0" viewName="IssueBackendList" config:flags="1">
	<viewModes>
		<add Name="Grid" config:flags="1">
			<columns>
				<add name="Actions" config:flags="1">
					<menuItems>
						<menuItem resourceclassid="ModuleBuilderResources" name="Permissions" config:flags="1" />
					</menuItems>
				</add>
			</columns>
		</add>
	</viewModes>
	<sidebar>
		<sections>
			<section name="recycleBinWidget" config:flags="1">
				<items>
					<item navigateUrl="/Sitefinity/dashboard/RecycleBin#/filter/type/Telerik.Sitefinity.DynamicTypes.Model.Issues.Issue" name="ExternalLink2" config:flags="1" />
				</items>
			</section>
		</sections>
	</sidebar>
</view>