<?xml version="1.0" encoding="utf-8"?>
<formsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.2.6200.0">
	<notifications formEntrySubmittedNotificationTemplateId="40e2ff31-ebfb-67f3-ba7d-ff000072e94b" updatedFormEntrySubmittedNotificationTemplateId="be390032-ebfb-67f3-ba7d-ff000072e94b" />
	<contentViewControls>
		<contentViewControl definitionName="FormsBackend" config:flags="1">
			<views>
				<view viewName="FormsBackendInsert" config:flags="1">
					<sections>
						<sections cssClass="sfExpandableForm" displayMode="Write" resourceClassId="MarketoConnectorResources" title="MarketoConnectorExpandableControlLabel" moduleName="MarketoConnector" name="MarketoConnectorSection">
							<fields>
								<field renderChoiceAs="SingleCheckBox" id="changeMarketoLeadScoreField" dataFieldName="Attributes.ChangeMarketoLeadScore" displayMode="Write" title="MarketoFormsFieldsHeader" resourceClassId="MarketoConnectorResources" cssClass="sfCheckBox sfInGroup" fieldName="ChangeMarketoLeadScore" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.ChoiceFieldElement, Telerik.Sitefinity">
									<choicesConfig>
										<element text="ChangeMarketoLeadScoreLabel" resourceClassId="MarketoConnectorResources" />
									</choicesConfig>
									<validator />
									<expandableDefinition />
								</field>
								<field HideIfValue="0" id="changeMarketoLeadScoreAmountField" dataFieldName="Attributes.ChangeMarketoLeadScoreAmount" displayMode="Write" description="ChangeMarketoLeadScoreFieldDescription" resourceClassId="MarketoConnectorResources" cssClass="sfShortField40 sfMLeft15" fieldName="ChangeMarketoLeadScoreAmount" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.TextFieldDefinitionElement, Telerik.Sitefinity">
									<expandableDefinition />
									<validator expectedFormat="Integer" messageCssClass="sfError" />
								</field>
								<field renderChoiceAs="SingleCheckBox" hideTitle="True" id="syncFormFieldsToLeadFieldsField" dataFieldName="Attributes.SyncFormFieldsToLeadFields" displayMode="Write" resourceClassId="MarketoConnectorResources" cssClass="sfCheckBox sfInGroup" fieldName="SyncFormFieldsToLeadFields" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.ChoiceFieldElement, Telerik.Sitefinity">
									<choicesConfig>
										<element text="SyncFormFieldsWithLeadFieldsLabel" resourceClassId="MarketoConnectorResources" />
									</choicesConfig>
									<validator />
									<expandableDefinition />
								</field>
								<field renderChoiceAs="SingleCheckBox" hideTitle="True" id="doSpecificWebCallsField" dataFieldName="Attributes.DoSpecificWebCalls" displayMode="Write" resourceClassId="MarketoConnectorResources" cssClass="sfCheckBox sfInGroup" fieldName="DoSpecificWebCalls" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.ChoiceFieldElement, Telerik.Sitefinity">
									<choicesConfig>
										<element text="DoSpecificWebCallsLabel" resourceClassId="MarketoConnectorResources" />
									</choicesConfig>
									<validator />
									<expandableDefinition />
								</field>
							</fields>
							<expandableDefinition expanded="False" />
						</sections>
					</sections>
				</view>
				<view viewName="FormsBackendEdit" config:flags="1">
					<sections>
						<sections cssClass="sfExpandableForm" displayMode="Write" resourceClassId="MarketoConnectorResources" title="MarketoConnectorExpandableControlLabel" moduleName="MarketoConnector" name="MarketoConnectorSection">
							<fields>
								<field renderChoiceAs="SingleCheckBox" id="changeMarketoLeadScoreField" dataFieldName="Attributes.ChangeMarketoLeadScore" displayMode="Write" title="MarketoFormsFieldsHeader" resourceClassId="MarketoConnectorResources" cssClass="sfCheckBox sfInGroup" fieldName="ChangeMarketoLeadScore" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.ChoiceFieldElement, Telerik.Sitefinity">
									<choicesConfig>
										<element text="ChangeMarketoLeadScoreLabel" resourceClassId="MarketoConnectorResources" />
									</choicesConfig>
									<validator />
									<expandableDefinition />
								</field>
								<field HideIfValue="0" id="changeMarketoLeadScoreAmountField" dataFieldName="Attributes.ChangeMarketoLeadScoreAmount" displayMode="Write" description="ChangeMarketoLeadScoreFieldDescription" resourceClassId="MarketoConnectorResources" cssClass="sfShortField40 sfMLeft15" fieldName="ChangeMarketoLeadScoreAmount" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.TextFieldDefinitionElement, Telerik.Sitefinity">
									<expandableDefinition />
									<validator expectedFormat="Integer" messageCssClass="sfError" />
								</field>
								<field renderChoiceAs="SingleCheckBox" hideTitle="True" id="syncFormFieldsToLeadFieldsField" dataFieldName="Attributes.SyncFormFieldsToLeadFields" displayMode="Write" resourceClassId="MarketoConnectorResources" cssClass="sfCheckBox sfInGroup" fieldName="SyncFormFieldsToLeadFields" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.ChoiceFieldElement, Telerik.Sitefinity">
									<choicesConfig>
										<element text="SyncFormFieldsWithLeadFieldsLabel" resourceClassId="MarketoConnectorResources" />
									</choicesConfig>
									<validator />
									<expandableDefinition />
								</field>
								<field renderChoiceAs="SingleCheckBox" hideTitle="True" id="doSpecificWebCallsField" dataFieldName="Attributes.DoSpecificWebCalls" displayMode="Write" resourceClassId="MarketoConnectorResources" cssClass="sfCheckBox sfInGroup" fieldName="DoSpecificWebCalls" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.ChoiceFieldElement, Telerik.Sitefinity">
									<choicesConfig>
										<element text="DoSpecificWebCallsLabel" resourceClassId="MarketoConnectorResources" />
									</choicesConfig>
									<validator />
									<expandableDefinition />
								</field>
							</fields>
							<expandableDefinition expanded="False" />
						</sections>
					</sections>
				</view>
				<view viewName="FormsBackendDuplicate" config:flags="1">
					<sections>
						<sections cssClass="sfExpandableForm" displayMode="Write" resourceClassId="MarketoConnectorResources" title="MarketoConnectorExpandableControlLabel" moduleName="MarketoConnector" name="MarketoConnectorSection">
							<fields>
								<field renderChoiceAs="SingleCheckBox" id="changeMarketoLeadScoreField" dataFieldName="Attributes.ChangeMarketoLeadScore" displayMode="Write" title="MarketoFormsFieldsHeader" resourceClassId="MarketoConnectorResources" cssClass="sfCheckBox sfInGroup" fieldName="ChangeMarketoLeadScore" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.ChoiceFieldElement, Telerik.Sitefinity">
									<choicesConfig>
										<element text="ChangeMarketoLeadScoreLabel" resourceClassId="MarketoConnectorResources" />
									</choicesConfig>
									<validator />
									<expandableDefinition />
								</field>
								<field HideIfValue="0" id="changeMarketoLeadScoreAmountField" dataFieldName="Attributes.ChangeMarketoLeadScoreAmount" displayMode="Write" description="ChangeMarketoLeadScoreFieldDescription" resourceClassId="MarketoConnectorResources" cssClass="sfShortField40 sfMLeft15" fieldName="ChangeMarketoLeadScoreAmount" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.TextFieldDefinitionElement, Telerik.Sitefinity">
									<expandableDefinition />
									<validator expectedFormat="Integer" messageCssClass="sfError" />
								</field>
								<field renderChoiceAs="SingleCheckBox" hideTitle="True" id="syncFormFieldsToLeadFieldsField" dataFieldName="Attributes.SyncFormFieldsToLeadFields" displayMode="Write" resourceClassId="MarketoConnectorResources" cssClass="sfCheckBox sfInGroup" fieldName="SyncFormFieldsToLeadFields" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.ChoiceFieldElement, Telerik.Sitefinity">
									<choicesConfig>
										<element text="SyncFormFieldsWithLeadFieldsLabel" resourceClassId="MarketoConnectorResources" />
									</choicesConfig>
									<validator />
									<expandableDefinition />
								</field>
								<field renderChoiceAs="SingleCheckBox" hideTitle="True" id="doSpecificWebCallsField" dataFieldName="Attributes.DoSpecificWebCalls" displayMode="Write" resourceClassId="MarketoConnectorResources" cssClass="sfCheckBox sfInGroup" fieldName="DoSpecificWebCalls" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.ChoiceFieldElement, Telerik.Sitefinity">
									<choicesConfig>
										<element text="DoSpecificWebCallsLabel" resourceClassId="MarketoConnectorResources" />
									</choicesConfig>
									<validator />
									<expandableDefinition />
								</field>
							</fields>
							<expandableDefinition expanded="False" />
						</sections>
					</sections>
				</view>
			</views>
		</contentViewControl>
	</contentViewControls>
</formsConfig>