<?xml version="1.0" encoding="utf-8"?>
<newsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.2.6200.0">
	<contentViewControls>
		<contentViewControl definitionName="NewsBackend" config:flags="1">
			<views>
				<config:lazy key="NewsBackendEdit" configFile="NewsConfig.contentViewControls.NewsBackend.views.NewsBackendEdit.config" />
				<config:lazy key="NewsBackendInsert" configFile="NewsConfig.contentViewControls.NewsBackend.views.NewsBackendInsert.config" />
				<config:lazy key="NewsBackendPreview" configFile="NewsConfig.contentViewControls.NewsBackend.views.NewsBackendPreview.config" />
				<config:lazy key="NewsBackendDuplicate" configFile="NewsConfig.contentViewControls.NewsBackend.views.NewsBackendDuplicate.config" />
				<config:lazy key="NewsBackendVersionPreview" configFile="NewsConfig.contentViewControls.NewsBackend.views.NewsBackendVersionPreview.config" />
			</views>
		</contentViewControl>
	</contentViewControls>
</newsConfig>