<?xml version="1.0" encoding="utf-8"?>
<projectConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.2.6200.0" projectName="SF_7_1_5208" dateCreated="2014-08-29 11:32:00Z">
	<defaultSite id="00b7dd34-a465-4062-a7ca-28cc4d043507" name="Default" siteMapRootNodeId="f669d9a7-009d-4d83-ddaa-000000000002" homePageId="b0010032-ebfb-67f3-ba7d-ff000072e94b" />
</projectConfig>