<?xml version="1.0" encoding="utf-8"?>
<searchConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.1.6500.0">
	<searchServices>
		<add luceneServiceIndexFolder="" name="LuceneSearchService" config:flags="1" />
		<add AccessKey="" ApiVersion="2013-01-01" SearchEndPoint="" DocumentEndPoint="" SecretAccessKey="" Region="" title="AmazonSearchServiceTitle" resourceClassId="AmazonResources" typeName="Telerik.Sitefinity.AmazonCloudSearch.AmazonSearchService" name="AmazonSearchService" />
	</searchServices>
</searchConfig>