<?xml version="1.0" encoding="utf-8"?>
<systemConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.2.6200.0">
	<applicationModules>
		<add startupType="Disabled" name="Multisite" config:flags="1" />
		<add startupType="Disabled" name="Ecommerce" config:flags="1" />
		<add startupType="Disabled" name="Forums" config:flags="1" />
		<add startupType="Disabled" name="Personalization" config:flags="1" />
		<add description="Feather" name="Feather" config:flags="1" />
		<add startupType="Disabled" name="SitefinityDAM" config:flags="1" />
		<add startupType="Disabled" name="DataIntelligenceConnector" config:flags="1" />
		<add title="Audit Trail - Elasticsearch" description="Logs audit events to an Elasticsearch instance." type="Telerik.Sitefinity.Audit.Elasticsearch.ElasticsearchAuditModule, Telerik.Sitefinity.Audit.Elasticsearch, Version=7.3.5328.0, Culture=neutral, PublicKeyToken=4d437ae15f42fd43" startupType="Disabled" name="ElasticsearchAudit" />
	</applicationModules>
	<typeImplementationsMapping>
		<add type="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.WidgetElement, Telerik.Sitefinity" config:flags="1">
			<implementations>
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Widgets.ProductTypeFilterWidgetDefinitionElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Widgets.ProductOtherFilterOptionsWidgetDefinitionElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Widgets.OrderStatusFilterWidgetDefinitionElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Widgets.FilterProductsWidgetDefinitionElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Widgets.NavigateToTaxLogsWidgetDefinitionElement, Telerik.Sitefinity.Ecommerce" />
			</implementations>
		</add>
		<add type="Telerik.Sitefinity.Web.UI.ContentUI.Config.ContentViewDefinitionElement, Telerik.Sitefinity" config:flags="1">
			<implementations>
				<add type="Telerik.Sitefinity.Modules.Events.Configuration.EventsListViewMasterElement, Telerik.Sitefinity.ContentModules" />
				<add type="Telerik.Sitefinity.Modules.Events.Configuration.CalendarViewMasterElement, Telerik.Sitefinity.ContentModules" />
				<add type="Telerik.Sitefinity.Modules.Events.Configuration.EventsViewDetailElement, Telerik.Sitefinity.ContentModules" />
				<add type="Telerik.Sitefinity.Forums.Web.Config.ForumsViewMasterElement, Telerik.Sitefinity.Forums" />
				<add type="Telerik.Sitefinity.Forums.Web.Config.ThreadsViewMasterElement, Telerik.Sitefinity.Forums" />
			</implementations>
		</add>
		<add type="Telerik.Sitefinity.Web.UI.Fields.Config.FieldDefinitionElement, Telerik.Sitefinity" config:flags="1">
			<implementations>
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.CreateVariationsFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.VariationsFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.InventoryFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Fields.OrderFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Fields.CustomerFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Fields.PaymentMethodSettingsFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.DependentFieldDefinitionElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Forums.Web.Config.PostInfoFieldElement, Telerik.Sitefinity.Forums" />
				<add type="Telerik.Sitefinity.Forums.Web.UI.Backend.Fields.GroupsBindableChoiceFieldElement, Telerik.Sitefinity.Forums" />
			</implementations>
		</add>
		<add type="Telerik.Sitefinity.Web.UI.Fields.Config.FieldControlDefinitionElement, Telerik.Sitefinity" config:flags="1">
			<implementations>
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.CreateVariationsFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.VariationsFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.InventoryFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Fields.OrderFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Fields.CustomerFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Fields.PaymentMethodSettingsFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.DependentFieldDefinitionElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Forums.Web.Config.PostInfoFieldElement, Telerik.Sitefinity.Forums" />
				<add type="Telerik.Sitefinity.Forums.Web.UI.Backend.Fields.GroupsBindableChoiceFieldElement, Telerik.Sitefinity.Forums" />
			</implementations>
		</add>
		<add type="Telerik.Sitefinity.Translations.Configuration.TypeTranslationSettingsBase, Telerik.Sitefinity.Translations">
			<implementations>
				<add type="Telerik.Sitefinity.Translations.Configuration.ControlTypeTranslationSettings, Telerik.Sitefinity.Translations" />
				<add type="Telerik.Sitefinity.Translations.Configuration.DefaultTypeTranslationSettings, Telerik.Sitefinity.Translations" />
				<add type="Telerik.Sitefinity.Translations.Configuration.MvcControlTypeTranslationSettings, Telerik.Sitefinity.Translations" />
			</implementations>
		</add>
		<add type="Telerik.Sitefinity.Web.Api.Configuration.TypeSettings, Telerik.Sitefinity.Web.Api">
			<implementations>
				<add type="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api" />
				<add type="Telerik.Sitefinity.Web.Api.Configuration.CustomStrategyTypeSettings, Telerik.Sitefinity.Web.Api" />
			</implementations>
		</add>
		<add type="Telerik.Sitefinity.Web.Api.Configuration.PropertyMapping, Telerik.Sitefinity.Web.Api">
			<implementations>
				<add type="Telerik.Sitefinity.Web.Api.Configuration.CalculatedPropertyMapping, Telerik.Sitefinity.Web.Api" />
				<add type="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
				<add type="Telerik.Sitefinity.Web.Api.Configuration.NavigationPropertyMapping, Telerik.Sitefinity.Web.Api" />
				<add type="Telerik.Sitefinity.Web.Api.Configuration.ComplexPropertyMapping, Telerik.Sitefinity.Web.Api" />
			</implementations>
		</add>
	</typeImplementationsMapping>
	<cacheManagers>
		<add startScavengingAfterItemCount="10000" whenScavengingRemoveItemCount="100" name="MarketoConnectorCache" />
	</cacheManagers>
</systemConfig>