<?xml version="1.0" encoding="utf-8"?>
<toolboxesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.2.6900.0">
	<toolboxes>
		<toolbox name="PageControls" config:flags="1">
			<sections>
				<add name="ContentToolboxSection" config:flags="1">
					<tools>
						<add type="Telerik.Sitefinity.Modules.News.Web.UI.NewsView, Telerik.Sitefinity.ContentModules" title="NewsViewTitle" description="NewsViewDescription" resourceClassId="NewsResources" cssClass="sfNewsViewIcn" moduleName="News" name="NewsView" />
						<add type="Telerik.Sitefinity.Modules.Blogs.Web.UI.BlogPostView, Telerik.Sitefinity.ContentModules" title="BlogPostsViewTitle" description="BlogPostsViewDescription" resourceClassId="BlogResources" cssClass="sfBlogsViewIcn" moduleName="Blogs" name="BlogPostsView" />
						<add type="Telerik.Sitefinity.Modules.Blogs.Web.UI.BlogsListControl, Telerik.Sitefinity.ContentModules" title="BlogsList" description="BlogsListDescription" resourceClassId="BlogResources" cssClass="sfBlogsListViewIcn" moduleName="Blogs" name="BlogsListControl" />
						<add type="Telerik.Sitefinity.Modules.Events.Web.UI.EventsView, Telerik.Sitefinity.ContentModules" title="EventsViewTitle" description="EventsViewDescription" resourceClassId="EventsResources" cssClass="sfEventsViewIcn" moduleName="Events" name="EventsView" />
						<add type="Telerik.Sitefinity.Modules.Libraries.Web.UI.Videos.MediaPlayerControl, Telerik.Sitefinity" title="MediaPlayerControlTitle" description="MediaPlayerControlDescription" resourceClassId="PageResources" cssClass="sfVideoIcn" moduleName="Libraries" name="MediaPlayerControl" />
						<add type="Telerik.Sitefinity.Modules.Libraries.Web.UI.Videos.VideosView, Telerik.Sitefinity" title="VideosViewTitle" description="VideosViewDescription" resourceClassId="LibrariesResources" cssClass="sfVideoListIcn" moduleName="Libraries" name="VideosView" />
						<add type="Telerik.Sitefinity.Modules.Libraries.Web.UI.Documents.DocumentLink, Telerik.Sitefinity" title="DocumentLinkControlTitle" description="DocumentLinkControlDescription" resourceClassId="PageResources" cssClass="sfDownloadLinkIcn" moduleName="Libraries" name="DocumentLinkControl" />
						<add type="Telerik.Sitefinity.Modules.Libraries.Web.UI.Documents.DownloadListView, Telerik.Sitefinity" title="DownloadListViewTitle" description="DownloadListViewDescription" resourceClassId="PageResources" cssClass="sfDownloadListIcn" moduleName="Libraries" name="DownloadListView" />
						<add type="Telerik.Sitefinity.Modules.Forms.Web.UI.FormsControl, Telerik.Sitefinity" title="FormsControlTitle" description="FormsControlDescription" resourceClassId="FormsResources" cssClass="sfFormsIcn" moduleName="Forms" name="FormsControl" />
						<add type="Telerik.Sitefinity.Modules.Lists.Web.UI.ListView, Telerik.Sitefinity.ContentModules" title="ListItemsViewTitle" description="ListItemsViewDescription" resourceClassId="ListsResources" cssClass="sfListitemsIcn" moduleName="Lists" name="ListItemsView" />
						<add type="Telerik.Sitefinity.Web.UI.PublicControls.FeedEmbedControl, Telerik.Sitefinity" title="FeedEmbedControlTitle" description="FeedEmbedControlDescription" resourceClassId="PageResources" cssClass="sfFeedsIcn" moduleName="Publishing" name="FeedEmbedControl" />
						<add type="Telerik.Sitefinity.Forums.Web.UI.ForumsView, Telerik.Sitefinity.Forums" title="ForumsViewTitle" description="ForumsViewDescription" resourceClassId="ForumsResources" cssClass="sfForumsViewIcn" moduleName="Forums" name="ForumsView" />
						<add type="Telerik.Sitefinity.Modules.Comments.Web.UI.Frontend.CommentsWidget, Telerik.Sitefinity" title="CommentsTitle" description="CommentsDescription" resourceClassId="CommentsResources" cssClass="sfCommentsIcn" moduleName="Comments" name="Comments" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Blogs.Mvc.Controllers.BlogController" title="Blogs" cssClass="sfBlogsListViewIcn sfMvcIcn" moduleName="Blogs" ControllerName="Telerik.Sitefinity.Frontend.Blogs.Mvc.Controllers.BlogController" name="Blog_MVC" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Blogs.Mvc.Controllers.BlogPostController" title="Blog posts" cssClass="sfBlogsViewIcn sfMvcIcn" moduleName="Blogs" ControllerName="Telerik.Sitefinity.Frontend.Blogs.Mvc.Controllers.BlogPostController" name="BlogPost_MVC" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Comments.Mvc.Controllers.CommentsController" title="Comments" cssClass="sfCommentsIcn sfMvcIcn" moduleName="Comments" ControllerName="Telerik.Sitefinity.Frontend.Comments.Mvc.Controllers.CommentsController" name="Comments_MVC" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Comments.Mvc.Controllers.ReviewsController" title="Reviews" cssClass="sfCommentsIcn sfMvcIcn" moduleName="Comments" ControllerName="Telerik.Sitefinity.Frontend.Comments.Mvc.Controllers.ReviewsController" name="Reviews_MVC" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.ContentBlock.Mvc.Controllers.ContentBlockController" title="Content block" cssClass="sfContentBlockIcn sfMvcIcn" ControllerName="Telerik.Sitefinity.Frontend.ContentBlock.Mvc.Controllers.ContentBlockController" name="ContentBlock_MVC" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Lists.Mvc.Controllers.ListsController" title="List" cssClass="sfListitemsIcn sfMvcIcn" moduleName="Lists" ControllerName="Telerik.Sitefinity.Frontend.Lists.Mvc.Controllers.ListsController" name="List_MVC" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Media.Mvc.Controllers.DocumentsListController" title="Documents list" cssClass="sfDownloadListIcn sfMvcIcn" moduleName="Libraries" ControllerName="Telerik.Sitefinity.Frontend.Media.Mvc.Controllers.DocumentsListController" name="DocumentsList_MVC" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Media.Mvc.Controllers.VideoController" title="Video" cssClass="sfVideoIcn sfMvcIcn" moduleName="Libraries" ControllerName="Telerik.Sitefinity.Frontend.Media.Mvc.Controllers.VideoController" name="Video_MVC" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Media.Mvc.Controllers.VideoGalleryController" title="Video gallery" cssClass="sfVideoListIcn sfMvcIcn" moduleName="Libraries" ControllerName="Telerik.Sitefinity.Frontend.Media.Mvc.Controllers.VideoGalleryController" name="VideoGallery_MVC" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Media.Mvc.Controllers.DocumentController" title="Document link" cssClass="sfDownloadLinkIcn sfMvcIcn" moduleName="Libraries" ControllerName="Telerik.Sitefinity.Frontend.Media.Mvc.Controllers.DocumentController" name="DocumentLink_MVC" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Media.Mvc.Controllers.ImageController" title="Image" cssClass="sfImageViewIcn sfMvcIcn" moduleName="Libraries" ControllerName="Telerik.Sitefinity.Frontend.Media.Mvc.Controllers.ImageController" name="Image_MVC" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Media.Mvc.Controllers.ImageGalleryController" title="Image gallery" cssClass="sfImageLibraryViewIcn sfMvcIcn" moduleName="Libraries" ControllerName="Telerik.Sitefinity.Frontend.Media.Mvc.Controllers.ImageGalleryController" name="ImageGallery_MVC" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.News.Mvc.Controllers.NewsController" title="News" cssClass="sfNewsViewIcn sfMvcIcn" moduleName="News" ControllerName="Telerik.Sitefinity.Frontend.News.Mvc.Controllers.NewsController" name="News_MVC" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Publishing.Mvc.Controllers.FeedController" title="Feed" cssClass="sfFeedsIcn sfMvcIcn" ControllerName="Telerik.Sitefinity.Frontend.Publishing.Mvc.Controllers.FeedController" name="Feed_MVC" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Card.Mvc.Controllers.CardController" title="Card" cssClass="sfCardIcn sfMvcIcn" ControllerName="Telerik.Sitefinity.Frontend.Card.Mvc.Controllers.CardController" name="Card_MVC" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Forms.Mvc.Controllers.FormController" title="Form" cssClass="sfFormsIcn sfMvcIcn" ControllerName="Telerik.Sitefinity.Frontend.Forms.Mvc.Controllers.FormController" name="Form_MVC" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Events.Mvc.Controllers.EventController" title="Events" cssClass="sfEventsViewIcn sfMvcIcn" moduleName="Events" ControllerName="Telerik.Sitefinity.Frontend.Events.Mvc.Controllers.EventController" name="Events_MVC" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Events.Mvc.Controllers.EventSchedulerController" title="Calendar" cssClass="sfEventsViewIcn sfMvcIcn" moduleName="Events" ControllerName="Telerik.Sitefinity.Frontend.Events.Mvc.Controllers.EventSchedulerController" name="Calendar_MVC" />
					</tools>
				</add>
				<add name="NavigationControlsSection" config:flags="1">
					<tools>
						<add type="Telerik.Sitefinity.Multisite.Web.UI.SiteSelectorControl, Telerik.Sitefinity" title="SiteSelectorControlTitle" description="SiteSelectorControlDescription" resourceClassId="MultisiteResources" cssClass="sfSiteSelectorIcn" moduleName="Multisite" name="SiteSelectorControlName" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Navigation.Mvc.Controllers.BreadcrumbController" title="Breadcrumb" cssClass="sfBreadcrumbIcn sfMvcIcn" ControllerName="Telerik.Sitefinity.Frontend.Navigation.Mvc.Controllers.BreadcrumbController" name="Breadcrumb_MVC" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Navigation.Mvc.Controllers.NavigationController" title="Navigation" cssClass="sfNavigationIcn sfMvcIcn" ControllerName="Telerik.Sitefinity.Frontend.Navigation.Mvc.Controllers.NavigationController" name="Navigation_MVC" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Navigation.Mvc.Controllers.SiteSelectorController" title="Site selector" cssClass="sfSiteSelectorIcn sfMvcIcn" ControllerName="Telerik.Sitefinity.Frontend.Navigation.Mvc.Controllers.SiteSelectorController" name="SiteSelector_MVC" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Navigation.Mvc.Controllers.LanguageSelectorController" title="Language selector" cssClass="sfLanguageSelectorIcn sfMvcIcn" ControllerName="Telerik.Sitefinity.Frontend.Navigation.Mvc.Controllers.LanguageSelectorController" name="LanguageSelector_MVC" />
					</tools>
				</add>
				<add name="ScriptsAndStylesControlsSection" config:flags="1">
					<tools>
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.InlineClientAssets.Mvc.Controllers.EmbedCodeController" title="Embed code" cssClass="sfLinkedFileViewIcn sfMvcIcn" ControllerName="Telerik.Sitefinity.Frontend.InlineClientAssets.Mvc.Controllers.EmbedCodeController" name="EmbedCode_MVC" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.InlineClientAssets.Mvc.Controllers.JavaScriptController" title="JavaScript" cssClass="sfLinkedFileViewIcn sfMvcIcn" ControllerName="Telerik.Sitefinity.Frontend.InlineClientAssets.Mvc.Controllers.JavaScriptController" name="JavaScript_MVC" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.InlineClientAssets.Mvc.Controllers.StyleSheetController" title="CSS" cssClass="sfLinkedFileViewIcn sfMvcIcn" ControllerName="Telerik.Sitefinity.Frontend.InlineClientAssets.Mvc.Controllers.StyleSheetController" name="StyleSheet_MVC" />
					</tools>
				</add>
				<add name="Login" config:flags="1">
					<tools>
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Identity.Mvc.Controllers.ChangePasswordController" title="Change password" cssClass="sfChangePasswordIcn sfMvcIcn" ControllerName="Telerik.Sitefinity.Frontend.Identity.Mvc.Controllers.ChangePasswordController" name="ChangePassword_MVC" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Identity.Mvc.Controllers.LoginFormController" title="Login form" cssClass="sfLoginIcn sfMvcIcn" ControllerName="Telerik.Sitefinity.Frontend.Identity.Mvc.Controllers.LoginFormController" name="LoginForm_MVC" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Identity.Mvc.Controllers.LoginStatusController" title="Login / Logout button" cssClass="sfLoginNameIcn sfMvcIcn" ControllerName="Telerik.Sitefinity.Frontend.Identity.Mvc.Controllers.LoginStatusController" name="LoginStatus_MVC" />
					</tools>
				</add>
				<add name="Users" config:flags="1">
					<tools>
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Identity.Mvc.Controllers.ProfileController" title="Profile" cssClass="sfProfilecn sfMvcIcn" ControllerName="Telerik.Sitefinity.Frontend.Identity.Mvc.Controllers.ProfileController" name="Profile_MVC" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Identity.Mvc.Controllers.AccountActivationController" title="Account activation" cssClass="sfAccountActivationIcn sfMvcIcn" ControllerName="Telerik.Sitefinity.Frontend.Identity.Mvc.Controllers.AccountActivationController" name="AccountActivation_MVC" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Identity.Mvc.Controllers.RegistrationController" title="Registration" cssClass="sfCreateAccountIcn sfMvcIcn" ControllerName="Telerik.Sitefinity.Frontend.Identity.Mvc.Controllers.RegistrationController" name="Registration_MVC" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Identity.Mvc.Controllers.UsersListController" title="Users list" cssClass="sfUserListIcn sfMvcIcn" ControllerName="Telerik.Sitefinity.Frontend.Identity.Mvc.Controllers.UsersListController" name="UsersList" />
					</tools>
				</add>
				<add name="Social" config:flags="1">
					<tools>
						<add type="Telerik.Sitefinity.Web.UI.PublicControls.TwitterFeedWidget, Telerik.Sitefinity" title="TwitterFeedWidgetTitle" description="TwitterFeedWidgetDescription" resourceClassId="PublishingMessages" cssClass="sfTwitterFeedIcn" moduleName="Publishing" name="TwitterFeedWidget" />
					</tools>
				</add>
				<add title="SearchBoxTitle" description="SearchBoxDescription" resourceClassId="SearchResources" name="Search">
					<tools>
						<add type="Telerik.Sitefinity.Services.Search.Web.UI.Public.SearchBox, Telerik.Sitefinity.Search.Impl" title="SearchBoxTitle" description="SearchBoxDescription" resourceClassId="SearchResources" cssClass="sfSearchBoxIcn" moduleName="Search" name="Search" />
						<add type="Telerik.Sitefinity.Services.Search.Web.UI.Public.SearchResults, Telerik.Sitefinity.Search.Impl" title="SearchResultsTitle" description="SearchResultsDescription" resourceClassId="SearchResources" cssClass="sfSearchResultIcn" moduleName="Search" name="SearchResults" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Search.Mvc.Controllers.SearchBoxController" title="Search box" cssClass="sfSearchBoxIcn sfMvcIcn" moduleName="Search" ControllerName="Telerik.Sitefinity.Frontend.Search.Mvc.Controllers.SearchBoxController" name="SearchBox_MVC" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Search.Mvc.Controllers.SearchResultsController" title="Search results" cssClass="sfSearchResultIcn sfMvcIcn" moduleName="Search" ControllerName="Telerik.Sitefinity.Frontend.Search.Mvc.Controllers.SearchResultsController" name="SearchResults_MVC" />
					</tools>
				</add>
				<add title="Classifications" name="Classifications">
					<tools>
						<add type="Telerik.Sitefinity.Web.UI.PublicControls.TaxonomyControl" title="Categories" cssClass="sfHierarchicalTaxonIcn" TaxonomyId="e5cd6d69-1543-427b-ad62-688a99f5e7d4" FieldName="Category" name="Categories" />
						<add type="Telerik.Sitefinity.Web.UI.PublicControls.TaxonomyControl" title="Tags" cssClass="sfFlatTaxonIcn" TaxonomyId="cb0f3a19-a211-48a7-88ec-77495c0f5374" FieldName="Tags" name="Tags" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Taxonomies.Mvc.Controllers.FlatTaxonomyController" title="Tags" cssClass="sfFlatTaxonIcn sfMvcIcn" ControllerName="Telerik.Sitefinity.Frontend.Taxonomies.Mvc.Controllers.FlatTaxonomyController" name="Tags_MVC" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Taxonomies.Mvc.Controllers.HierarchicalTaxonomyController" title="Categories" cssClass="sfHierarchicalTaxonIcn sfMvcIcn" ControllerName="Telerik.Sitefinity.Frontend.Taxonomies.Mvc.Controllers.HierarchicalTaxonomyController" name="Categories_MVC" />
					</tools>
				</add>
				<add title="DashboardToolboxSectionTitle" description="DashboardToolboxSectionDescription" resourceClassId="Labels" tags="backend" ordinal="-1" name="Dashboard">
					<tools>
						<add type="Telerik.Sitefinity.Analytics.Server.Infrastructure.Web.UI.AnalyticsTimeline.AnalyticsTimelineDashboard, Telerik.Sitefinity.Analytics.Server.Infrastructure" title="AnalyticsTimelineWidgetToolboxTitle" description="AnalyticsTimelineWidgetToolboxTitle" resourceClassId="AnalyticsResources" cssClass="sfStatisticsIcn" moduleName="Analytics" name="AnalyticsTimelineDashboard" />
						<add type="Telerik.Sitefinity.Licensing.Web.UI.LicenseExpirationWidget, Telerik.Sitefinity" title="LicenseExpirationWidgetTitle" description="LicenseExpirationWidgetDescription" resourceClassId="LicensingMessages" cssClass="sfLicenseExpIcn" moduleName="Dashboard" name="LicenseExpirationWidget" />
						<add type="Telerik.Sitefinity.Dashboard.Web.UI.DashboardRecentItemsView, Telerik.Sitefinity.Dashboard" title="DashboardViewTitle" description="DashboardViewDescription" resourceClassId="DashboardResources" cssClass="sfRecentItemsIcn" moduleName="Dashboard" name="DashboardRecentItemsView" />
						<add enabled="False" type="Telerik.Sitefinity.Dashboard.Web.UI.DashboardWelcomeWidget, Telerik.Sitefinity.Dashboard" title="DashboardWelcomeWidgetTitle" description="DashboardWelcomeWidgetDescription" resourceClassId="DashboardResources" moduleName="Dashboard" name="DashboardWelcomeWidget" />
						<add enabled="False" type="Telerik.Sitefinity.Dashboard.Web.UI.DashboardConfigureWidget, Telerik.Sitefinity.Dashboard" title="DashboardConfigureWidgetTitle" description="DashboardConfigureWidgetDescription" resourceClassId="DashboardResources" moduleName="Dashboard" name="DashboardConfigureWidget" />
						<add type="Telerik.Sitefinity.RecycleBin.Web.UI.DashboardWidget.RecyclePanelWidget, Telerik.Sitefinity.RecycleBin" title="RecycleBinResourcesTitle" description="RecycleBinGroupPageDescription" resourceClassId="RecycleBinResources" moduleName="Dashboard" name="RecyclePanelWidget" />
						<add type="Telerik.Sitefinity.Dashboard.Web.UI.DashboardDecWidget, Telerik.Sitefinity.Dashboard" title="DecWidgetTitle" description="DecWidgetDescription" resourceClassId="DashboardResources" moduleName="Dashboard" name="DashboardDecWidget" />
						<add type="Telerik.Sitefinity.Dashboard.Web.UI.DashboardNewThemeWidget, Telerik.Sitefinity.Dashboard" title="NewThemeWidgetTitle" description="NewThemeWidgetDescription" resourceClassId="DashboardResources" moduleName="Dashboard" name="DashboardNewThemeWidget" />
					</tools>
				</add>
				<add title="NewslettersToolboxSectionTitle" description="NewslettersToolboxSectionDescription" resourceClassId="PageResources" name="NewslettersToolboxSectionName">
					<tools>
						<add type="Telerik.Sitefinity.Modules.Newsletters.Web.UI.Public.SubscribeForm, Telerik.Sitefinity" title="SubscribeFormTitle" description="SubscribeFormDescription" resourceClassId="NewslettersResources" cssClass="sfFormsIcn" moduleName="Newsletters" name="SubscribeForm" />
						<add type="Telerik.Sitefinity.Modules.Newsletters.Web.UI.Public.UnsubscribeForm, Telerik.Sitefinity" title="UnsubscribeFormTitle" description="UnsubscribeFormDescription" resourceClassId="NewslettersResources" cssClass="sfFormsIcn" moduleName="Newsletters" name="UnsubscribeForm" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.EmailCampaigns.Mvc.Controllers.UnsubscribeFormController" title="Unsubscribe" cssClass="sfFormsIcn sfMvcIcn" ControllerName="Telerik.Sitefinity.Frontend.EmailCampaigns.Mvc.Controllers.UnsubscribeFormController" name="UnsubscribeForm_MVC" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.EmailCampaigns.Mvc.Controllers.SubscribeFormController" title="Subscribe form" cssClass="sfFormsIcn sfMvcIcn" ControllerName="Telerik.Sitefinity.Frontend.EmailCampaigns.Mvc.Controllers.SubscribeFormController" name="SubscribeForm_MVC" />
					</tools>
				</add>
				<add title="EcommerceToolboxSectionTitle" description="EcommerceToolboxSectionTitle" resourceClassId="EcommerceResources" name="Ecommerce">
					<tools>
						<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.ProductsView, Telerik.Sitefinity.Ecommerce" title="ProductsViewToolboxName" description="ProductsViewToolboxDescription" resourceClassId="CatalogResources" cssClass="sfProductsListIcn" moduleName="Ecommerce" name="ProductsView" />
						<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.ShoppingCart, Telerik.Sitefinity.Ecommerce" title="ShoppingCartToolboxName" description="ShoppingCartToolboxDescription" resourceClassId="OrdersResources" cssClass="sfShoppingCartIcn" moduleName="Ecommerce" name="ShoppingCart" />
						<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.ShoppingCartSummaryViews.ShoppingCartSummary, Telerik.Sitefinity.Ecommerce" title="ShoppingCartSummaryToolboxName" description="ShoppingCartSummaryToolboxDescription" resourceClassId="OrdersResources" cssClass="sfCartSummaryIcn" moduleName="Ecommerce" name="ShoppingCartSummary" />
						<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Checkout, Telerik.Sitefinity.Ecommerce" title="CheckoutToolboxName" description="CheckoutToolboxDescription" resourceClassId="OrdersResources" cssClass="sfCheckoutIcn" moduleName="Ecommerce" name="Checkout" />
						<add type="Telerik.Sitefinity.Modules.Ecommerce.Web.UI.CurrencySelectorControl, Telerik.Sitefinity.Ecommerce" title="CurrencySelector" description="CurrencySelector" resourceClassId="EcommerceResources" cssClass="sfCurrencySelectorIcn" moduleName="Ecommerce" name="CurrencySelector" />
						<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.OrdersList, Telerik.Sitefinity.Ecommerce" title="OrdersList" description="OrdersList" resourceClassId="OrdersResources" cssClass="sfOrdersListIcn" moduleName="Ecommerce" name="OrdersList" />
						<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.OrderInvoiceView, Telerik.Sitefinity.Ecommerce" title="OrderInvoice" description="OrderInvoice" resourceClassId="OrdersResources" cssClass="sfOrderInvoiceIcn" moduleName="Ecommerce" name="OrderInvoice" />
						<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.DigitalDownloads, Telerik.Sitefinity.Ecommerce" title="YourDownloads" description="YourDownloads" resourceClassId="OrdersResources" cssClass="sfDigitalProductsListIcn" moduleName="Ecommerce" name="DigitalDownloads" />
						<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.DepartmentControl, Telerik.Sitefinity.Ecommerce" title="Departments" description="Departments" resourceClassId="CatalogResources" cssClass="sfNavigationIcn" moduleName="Ecommerce" TaxonomyId="d7831091-e7b1-41b8-9e75-dff32d6a7837" FieldName="Department" name="Departments" />
						<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Views.BuyNowView, Telerik.Sitefinity.Ecommerce" title="BuyNowViewToolboxName" description="BuyNowViewToolboxDescription" resourceClassId="CatalogResources" cssClass="sfBuyNowIcn" moduleName="Ecommerce" name="BuyNowView" />
						<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.GoogleConversionTracking, Telerik.Sitefinity.Ecommerce" title="GoogleConversionTracking" description="GoogleConversionTracking" resourceClassId="OrdersResources" cssClass="sfLinkedFileViewIcn" moduleName="Ecommerce" name="GoogleConversionTracking" />
						<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.FilterProductsControl, Telerik.Sitefinity.Ecommerce" title="ProductFilterTitle" description="ProductFilterTitle" resourceClassId="CatalogResources" cssClass="sfProductFilterIcn" moduleName="Ecommerce" name="FilterProducts" />
						<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.WishlistControl, Telerik.Sitefinity.Ecommerce" title="WishListToolboxName" description="WishListToolboxDescription" resourceClassId="OrdersResources" cssClass="sfWishListIcn" moduleName="Ecommerce" name="WishList" />
					</tools>
				</add>
				<add title="Authors" description="Holds all dynamic content widgets for the authors module." name="Telerik.Sitefinity.DynamicTypes.Model.Authors">
					<tools>
						<add type="Telerik.Sitefinity.DynamicModules.Web.UI.Frontend.DynamicContentView, Telerik.Sitefinity" title="Authors" cssClass="sfNewsViewIcn" moduleName="Authors" DynamicContentTypeName="Telerik.Sitefinity.DynamicTypes.Model.Authors.Author" DefaultMasterTemplateKey="53ebff31-ebfb-67f3-ba7d-ff000072e94b" DefaultDetailTemplateKey="54ebff31-ebfb-67f3-ba7d-ff000072e94b" name="Telerik.Sitefinity.DynamicTypes.Model.Authors.Author" />
						<add type="Telerik.Sitefinity.Frontend.Mvc.Infrastructure.Controllers.MvcWidgetProxy, Telerik.Sitefinity.Frontend" controllerType="Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Controllers.DynamicContentController" title="Authors" cssClass="sfNewsViewIcn sfMvcIcn" moduleName="Authors" WidgetName="Author" ControllerName="Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Controllers.DynamicContentController" name="Telerik.Sitefinity.DynamicTypes.Model.Authors.Author_MVC" />
					</tools>
				</add>
				<add title="Issues" description="Holds all dynamic content widgets for the issues module." name="Telerik.Sitefinity.DynamicTypes.Model.Issues">
					<tools>
						<add type="Telerik.Sitefinity.DynamicModules.Web.UI.Frontend.DynamicContentView, Telerik.Sitefinity" title="Issues" cssClass="sfNewsViewIcn" moduleName="Issues" DynamicContentTypeName="Telerik.Sitefinity.DynamicTypes.Model.Issues.Issue" DefaultMasterTemplateKey="b6ebff31-ebfb-67f3-ba7d-ff000072e94b" DefaultDetailTemplateKey="b7ebff31-ebfb-67f3-ba7d-ff000072e94b" name="Telerik.Sitefinity.DynamicTypes.Model.Issues.Issue" />
						<add type="Telerik.Sitefinity.Frontend.Mvc.Infrastructure.Controllers.MvcWidgetProxy, Telerik.Sitefinity.Frontend" controllerType="Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Controllers.DynamicContentController" title="Issues" cssClass="sfNewsViewIcn sfMvcIcn" moduleName="Issues" WidgetName="Issue" ControllerName="Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Controllers.DynamicContentController" name="Telerik.Sitefinity.DynamicTypes.Model.Issues.Issue_MVC" />
					</tools>
				</add>
			</sections>
		</toolbox>
		<toolbox name="PageLayouts" config:flags="1">
			<sections>
				<add title="BootstrapCustom grid widgets" name="BootstrapCustomGrids">
					<tools>
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="container-fluid" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/container-fluid.html" name="container-fluid" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="container" cssClass="sfL100" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/container.html" name="container" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="empty-placeholder" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/empty-placeholder.html" name="empty-placeholder" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="grid-12" cssClass="sfL100" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/grid-12.html" name="grid-12" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="grid-2+3+2+3+2" cssClass="sfL20_20_20_20_20" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/grid-2+3+2+3+2.html" name="grid-2+3+2+3+2" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="grid-3+3+3+3" cssClass="sfL25_25_25_25" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/grid-3+3+3+3.html" name="grid-3+3+3+3" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="grid-3+6+3" cssClass="sfL25_50_25" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/grid-3+6+3.html" name="grid-3+6+3" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="grid-3+9" cssClass="sfL25_75" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/grid-3+9.html" name="grid-3+9" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="grid-4+4+4" cssClass="sfL33_34_33" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/grid-4+4+4.html" name="grid-4+4+4" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="grid-4+8" cssClass="sfL33_67" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/grid-4+8.html" name="grid-4+8" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="grid-6+6" cssClass="sfL50_50" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/grid-6+6.html" name="grid-6+6" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="grid-7+5" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/grid-7+5.html" name="grid-7+5" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="grid-8+4" cssClass="sfL67_33" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/grid-8+4.html" name="grid-8+4" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="grid-9+3" cssClass="sfL75_25" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/grid-9+3.html" name="grid-9+3" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="grid-container" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/grid-container.html" name="grid-container" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="section" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/section.html" name="section" />
					</tools>
				</add>
				<add title="Grid widgets" name="Grids">
					<tools>
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="empty-placeholder" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/empty-placeholder.html" name="empty-placeholder" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="container-fluid" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/container-fluid.html" name="container-fluid" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="grid-7+5" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/grid-7+5.html" name="grid-7+5" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="grid-container" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/grid-container.html" name="grid-container" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="section" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/section.html" name="section" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="container" cssClass="sfL100" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/container.html" name="container" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="grid-12" cssClass="sfL100" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/grid-12.html" name="grid-12" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="grid-2+3+2+3+2" cssClass="sfL20_20_20_20_20" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/grid-2+3+2+3+2.html" name="grid-2+3+2+3+2" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="grid-3+3+3+3" cssClass="sfL25_25_25_25" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/grid-3+3+3+3.html" name="grid-3+3+3+3" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="grid-3+6+3" cssClass="sfL25_50_25" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/grid-3+6+3.html" name="grid-3+6+3" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="grid-3+9" cssClass="sfL25_75" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/grid-3+9.html" name="grid-3+9" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="grid-4+4+4" cssClass="sfL33_34_33" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/grid-4+4+4.html" name="grid-4+4+4" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="grid-4+8" cssClass="sfL33_67" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/grid-4+8.html" name="grid-4+8" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="grid-6+6" cssClass="sfL50_50" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/grid-6+6.html" name="grid-6+6" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="grid-8+4" cssClass="sfL67_33" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/grid-8+4.html" name="grid-8+4" />
						<add type="Telerik.Sitefinity.Frontend.GridSystem.GridControl, Telerik.Sitefinity.Frontend" title="grid-9+3" cssClass="sfL75_25" layoutTemplate="~/Frontend-Assembly/Telerik.Sitefinity.Frontend/GridSystem/Templates/grid-9+3.html" name="grid-9+3" />
					</tools>
				</add>
			</sections>
		</toolbox>
		<toolbox name="FormControls" config:flags="1">
			<sections>
				<add name="Common" config:flags="1">
					<tools>
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Forms.Mvc.Controllers.TextFieldController" title="Textbox" cssClass="sfTextboxIcn sfMvcIcn" ControllerName="Telerik.Sitefinity.Frontend.Forms.Mvc.Controllers.TextFieldController" name="MvcTextField" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Forms.Mvc.Controllers.MultipleChoiceFieldController" title="Multiple choice" cssClass="sfMultipleChoiceIcn sfMvcIcn" ControllerName="Telerik.Sitefinity.Frontend.Forms.Mvc.Controllers.MultipleChoiceFieldController" name="MvcMultipleChoiceField" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Forms.Mvc.Controllers.CheckboxesFieldController" title="Checkboxes" cssClass="sfCheckboxesIcn sfMvcIcn" ControllerName="Telerik.Sitefinity.Frontend.Forms.Mvc.Controllers.CheckboxesFieldController" name="MvcCheckboxesField" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Forms.Mvc.Controllers.ParagraphTextFieldController" title="Paragraph textbox" cssClass="sfParagraphboxIcn sfMvcIcn" ControllerName="Telerik.Sitefinity.Frontend.Forms.Mvc.Controllers.ParagraphTextFieldController" name="MvcParagraphTextField" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Forms.Mvc.Controllers.DropdownListFieldController" title="Dropdown list" cssClass="sfDropdownIcn sfMvcIcn" ControllerName="Telerik.Sitefinity.Frontend.Forms.Mvc.Controllers.DropdownListFieldController" name="MvcDropdownListField" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Forms.Mvc.Controllers.SectionHeaderController" title="Section header" cssClass="sfSectionHeaderIcn sfMvcIcn" ControllerName="Telerik.Sitefinity.Frontend.Forms.Mvc.Controllers.SectionHeaderController" name="MvcSectionHeaderField" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.ContentBlock.Mvc.Controllers.ContentBlockController" title="Content block" cssClass="sfInstructionIcn sfMvcIcn" ControllerName="Telerik.Sitefinity.Frontend.ContentBlock.Mvc.Controllers.ContentBlockController" name="MvcInstructionalTextField" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Forms.Mvc.Controllers.FileFieldController" title="File upload" cssClass="sfFileUploadIcn sfMvcIcn" ControllerName="Telerik.Sitefinity.Frontend.Forms.Mvc.Controllers.FileFieldController" name="MvcFileField" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Forms.Mvc.Controllers.CaptchaController" title="CAPTCHA" cssClass="sfCaptchaIcn sfMvcIcn" ControllerName="Telerik.Sitefinity.Frontend.Forms.Mvc.Controllers.CaptchaController" name="MvcCaptchaField" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Forms.Mvc.Controllers.SubmitButtonController" title="Submit button" cssClass="sfSubmitBtnIcn sfMvcIcn" ControllerName="Telerik.Sitefinity.Frontend.Forms.Mvc.Controllers.SubmitButtonController" name="MvcSubmitButton" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Forms.Mvc.Controllers.PageBreakController" title="Page break" cssClass="sfPageBreakIcn sfMvcIcn" ControllerName="Telerik.Sitefinity.Frontend.Forms.Mvc.Controllers.PageBreakController" name="MvcPageBreak" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Forms.Mvc.Controllers.NavigationFieldController" title="Form navigation" cssClass="sfFormNavIcn sfMvcIcn" ControllerName="Telerik.Sitefinity.Frontend.Forms.Mvc.Controllers.NavigationFieldController" name="MvcNavigationField" />
						<add type="Telerik.Sitefinity.Mvc.Proxy.MvcControllerProxy" controllerType="Telerik.Sitefinity.Frontend.Forms.Mvc.Controllers.HiddenFieldController" title="Hidden field" cssClass="sfTextboxIcn sfMvcIcn" ControllerName="Telerik.Sitefinity.Frontend.Forms.Mvc.Controllers.HiddenFieldController" name="MvcHiddenField" />
					</tools>
				</add>
			</sections>
		</toolbox>
	</toolboxes>
</toolboxesConfig>