<?xml version="1.0" encoding="utf-8"?>
<versionConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.1.6500.0">
	<providers>
		<add description="A data provider for the translations module that stores version data in database using OpenAccess ORM." applicationName="sf_translations" type="Telerik.Sitefinity.Versioning.Data.OpenAccessVersionDataProvider, Telerik.Sitefinity" name="sf_translations_vers_provider" />
	</providers>
</versionConfig>