<?xml version="1.0" encoding="utf-8"?>
<virtualPathSettingsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.2.6200.0">
	<virtualPaths>
		<add resourceLocation="Telerik.Sitefinity.Analytics.Server.Infrastructure" resolverName="EmbeddedResourceResolver" virtualPath="~/AnalyticsModule/*" />
		<add resourceLocation="Telerik.Sitefinity.Dashboard" resolverName="EmbeddedResourceResolver" virtualPath="~/SFDashboard/*" />
		<add resourceLocation="Telerik.Sitefinity.Ecommerce" resolverName="EmbeddedResourceResolver" virtualPath="~/SFEcommerce/*" />
		<add resourceLocation="Telerik.Sitefinity.Forums" resolverName="EmbeddedResourceResolver" virtualPath="~/SFForums/*" />
		<add resourceLocation="Telerik.Sitefinity.Personalization.Impl" resolverName="EmbeddedResourceResolver" virtualPath="~/SFPersonalization/*" />
		<add resourceLocation="Telerik.Sitefinity.SitemapGenerator" resolverName="EmbeddedResourceResolver" virtualPath="~/SFSitemap/*" />
		<add resourceLocation="Telerik.Sitefinity.MobileAppBuilder" resolverName="EmbeddedResourceResolver" virtualPath="~/MobileAppBuilder/*" />
		<add resourceLocation="Telerik.Sitefinity.SharepointConnector" resolverName="EmbeddedResourceResolver" virtualPath="~/SFConnector/*" />
		<add resourceLocation="Telerik.Sitefinity.EverliveConnector" resolverName="EmbeddedResourceResolver" virtualPath="~/EverliveConnector/*" />
		<add resourceLocation="Telerik.Sitefinity.MarketoConnector" resolverName="EmbeddedResourceResolver" virtualPath="~/MarketoConnector/*" />
		<add resourceLocation="Telerik.Sitefinity.SalesForceConnector" resolverName="EmbeddedResourceResolver" virtualPath="~/SalesForceConnector/*" />
		<add resourceLocation="Telerik.Sitefinity.RecycleBin" resolverName="EmbeddedResourceResolver" virtualPath="~/RBinRes/*" />
		<add resourceLocation="Telerik.Sitefinity.DataIntelligenceConnector" resolverName="EmbeddedResourceResolver" virtualPath="~/DataIntelligenceConnector/*" />
		<add resourceLocation="Telerik.Sitefinity.Search.Impl" resolverName="EmbeddedResourceResolver" virtualPath="~/SFSearch/*" />
		<add resourceLocation="Telerik.Sitefinity.Translations" resolverName="EmbeddedResourceResolver" virtualPath="~/TranslationRes/*" />
		<add resourceLocation="Telerik.Sitefinity.Web.Api" resolverName="EmbeddedResourceResolver" virtualPath="~/APIServicesRes/*" />
	</virtualPaths>
</virtualPathSettingsConfig>