@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel

@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Web.DataResolving;
@using Telerik.Sitefinity.Modules.Pages;
@using SitefinityWebApp.Mvc.HtmlHelpers;
@using DevMagazine.Core.Mvc.Helpers

@{
    var allNewsItems = Model.Items.OrderByDescending(x => x.Fields.DateCreated).ToList();
}

<h3>@Html.RenderTopicLink(Model)</h3>
<ul class="list-unstyled">
    @foreach (var newsItem in allNewsItems)
    {
        <li><a href="@Html.GetItemDefaultUrl(newsItem.DataItem)">@newsItem.Fields.Title</a></li>
    }
</ul>