@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@{
    ViewBag.Title = "Precompilation crawler";
}

@Html.StyleSheet(Url.EmbeddedResource(typeof(MvcCrawler.Client.Startup).FullName, "MvcCrawler.Client.Resources.Styles.bootstrap.min.css"))
@Html.Script(ScriptRef.JQuery)
<script type="text/javascript">
    $(document).ready(function () {
        $crawlbutton = $("#crawl-button");
        $crawlbutton.on("click", function () {
            var $this = $(this);

            var loadingLabel = $("#loadingLabel");
            var url = "/Precompilation/Crawler/Crawl";

            $this.prop("disabled", true);
            loadingLabel.show();

            $.ajax({
                url: url,
                contentType: "application/html; charset=utf-8",
                headers: {
                    "Cache-Control": "no cache"
                },
                success: function (data) {
                    var resultsContainer = $("#results");
                    resultsContainer.append(data);
                    $this.prop("disabled", false);
                    loadingLabel.hide();
                },
                cache: false
            });
        });
    });
</script>

<button id="crawl-button" class="btn btn-default">Start</button>
<label id="loadingLabel" style="display: none">Loading...</label>

<div id="results"></div>
