@{
    ViewBag.Title = "Precompilation crawler";
}

<script src="~/Scripts/jquery.min.js"></script>
<script type="text/javascript">
    function crawl() {
        var url = "/Precompilation/Crawler/Crawl";
        $.get(url, null, function (data) {
            var content = $("#results").html();
            $("#results").html(content + data);
        })
    }
</script>

<button onclick="crawl()">Start</button>

<div id="results"></div>