﻿@model DevMagazine.Issues.Mvc.ViewModels.PagerViewModel

@using DevMagazine.Core.Mvc.Helpers;

<div class="row text-center u-mt4" id="paging-wrapper">
    <a id="showMoreIssues" href="#" data-page="@Model.CurrentPage" data-url="@Html.GetCurrentNodeUrl()" class="@Html.RenderTextIfTrue("hidden", (Model.CurrentPage >= Model.TotalPagesCount))">
        <span class="glyphicon glyphicon-chevron-down glyph-bordered"></span><br />
        Load more issues
    </a>
    <div id="endless-paging" style="margin-top: 10px; display: none;">
        <img src="/ajax-loader.gif" height="24" width="24" alt="Ajax Loader">
    </div>
</div>
