@model Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Models.DynamicContentListViewModel

@using Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Models;
@using Telerik.Sitefinity.DynamicModules.Model;
@using DevMagazine.Issues.Mvc.ViewModels;

<section class="section section--gray">
    @Html.Partial("List.LatestIssueRight", (DynamicContentListViewModel)Model)
</section>

<section class="section section--border">
    <div class="container">
        <h4>Archive</h4>
        <hr>
        <div id="issues-list">
            <div class="row">
                @foreach (var issue in Model.Items.Skip(1).Take(3))
                {
                    @Html.Partial("IssueElement", IssueViewModel.GetIssue((DynamicContent)issue.DataItem))
                }
            </div>
            <div class="row">
                @foreach (var issue in Model.Items.Skip(4).Take(3))
                {
                    @Html.Partial("IssueElement", IssueViewModel.GetIssue((DynamicContent)issue.DataItem))
                }
            </div>

            @{
                var pagerModel = new PagerViewModel()
                {
                    CurrentPage = Model.CurrentPage,
                    TotalPagesCount = Model.TotalPagesCount
                };
            }

            @Html.Partial("EndlessPager", pagerModel)
        </div>
    </div>
</section>
