@model Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Models.DynamicContentListViewModel

@using Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Models;
@using Telerik.Sitefinity.DynamicModules.Model;
@using SitefinityWebApp.Mvc.ViewModels;
@using SitefinityWebApp.Mvc.HtmlHelpers;

<section class="section section--gray">
    @Html.Partial("List.LatestIssueRight")
</section>

<section class="section section--border">
    <div class="container">
        <h4>Archive</h4>
        <hr>
        <div id="issues-list">
            <div class="row">
                @foreach (var issue in Model.Items.Take(3))
                {
                    @Html.Partial("IssueElement", IssueViewModel.GetIssue(issue.GetDataItem<DynamicContent>()))
                }
            </div>
            <div class="row">
                @foreach (var issue in Model.Items.Skip(3).Take(3))
                {
                    @Html.Partial("IssueElement", IssueViewModel.GetIssue(issue.GetDataItem<DynamicContent>()))
                }
            </div>

            @if (Model.ShowPager)
            {
                @Html.Action("Index", "ContentPager", new { currentPage = Model.CurrentPage, 
                                totalPagesCount = Model.TotalPagesCount.Value, 
                                redirectUrlTemplate = ViewBag.RedirectPageUrlTemplate })
            }
        </div>
    </div>
</section>
