<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="3.0.20820.0" targetFramework="net40" />
  <package id="AntiXSS" version="4.3.0" targetFramework="net40" />
  <package id="AWSSDK" version="2.3.52.0" targetFramework="net45" />
  <package id="CommonServiceLocator.Silverlight" version="1.0" targetFramework="net40" />
  <package id="CsvHelper" version="2.2.2" targetFramework="net40" />
  <package id="DirectShowLib-2005" version="2.1.0.0" targetFramework="net40" />
  <package id="DocumentFormat.OpenXml" version="1.0" targetFramework="net40" />
  <package id="Elasticsearch.Net" version="1.7.0" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net45" />
  <package id="linqtotwitterNET40" version="2.1.9.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Cors" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.6.4" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.6.4" targetFramework="net45" />
  <package id="Microsoft.Data.Services.Client" version="5.6.4" targetFramework="net45" />
  <package id="Microsoft.Http" version="1.0.0.0" targetFramework="net40" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net40" />
  <package id="Microsoft.OData.Core" version="6.11.0" targetFramework="net45" />
  <package id="Microsoft.OData.Edm" version="6.11.0" targetFramework="net45" />
  <package id="Microsoft.SharePoint.Client" version="15.0.4569.1000" targetFramework="net40" />
  <package id="Microsoft.Spatial" version="6.11.0" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Types" version="10.50.1600.1" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="MySql.Data" version="6.6.6" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net45" />
  <package id="Ninject.Web.Common" version="3.2.3.0" targetFramework="net45" />
  <package id="payflow_dotNET" version="4.3.1.0" targetFramework="net40" />
  <package id="Progress.Sitefinity.NEST" version="1.0.2" targetFramework="net45" />
  <package id="RazorGenerator.MsBuild" version="2.4.1" targetFramework="net45" />
  <package id="RazorGenerator.Mvc" version="2.3.12" targetFramework="net45" />
  <package id="RazorGenerator.Templating" version="2.1.1" targetFramework="net40" />
  <package id="ServiceStack.Client.Signed" version="4.0.52" targetFramework="net45" />
  <package id="ServiceStack.Common.Signed" version="4.0.52" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.0.52" targetFramework="net45" />
  <package id="ServiceStack.Redis.Signed" version="4.0.52" targetFramework="net45" />
  <package id="ServiceStack.Signed" version="4.0.52" targetFramework="net45" />
  <package id="ServiceStack.Text.Signed" version="4.0.52" targetFramework="net45" />
  <package id="Sitefinity.RazorEngine" version="3.0.8.0" targetFramework="net40" />
  <package id="Sitefinity.RedDog.Search" version="0.5.3.0" targetFramework="net45" />
  <package id="Sitefinity.Windows.Azure" version="2.0.0.3" targetFramework="net45" />
  <package id="System.Spatial" version="5.6.4" targetFramework="net45" />
  <package id="System.Windows" version="5.0.61118.0" targetFramework="net40" />
  <package id="Telerik.DataAccess.Core" version="2016.2.822.1" targetFramework="net45" />
  <package id="Telerik.DataAccess.Fluent" version="2016.2.822.1" targetFramework="net45" developmentDependency="true" />
  <package id="Telerik.Sitefinity.All" version="9.2.6200.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.Amazon" version="9.2.6200.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.AmazonCloudSearch" version="9.2.6200.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.Analytics" version="9.2.6200.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.Audit.Elasticsearch" version="9.2.6200.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.AuditTrail" version="9.2.6200.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.Azure" version="9.2.6200.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.CloudSearch" version="1.0.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.Connectivity" version="9.2.6200.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.Content" version="9.2.6200.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.Core" version="9.2.6200.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.DAM" version="9.2.6200.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.Dashboard" version="9.2.6200.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.DDay.iCal.Signed" version="1.0.2.2" targetFramework="net45" />
  <package id="Telerik.Sitefinity.Diagnostics" version="9.2.6200.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.DigitalExperienceCloudConnector" version="9.2.6200.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.DropboxLibraries" version="9.2.6200.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.Everlive" version="9.2.6200.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.EverliveConnector" version="9.2.6200.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.Feather" version="1.7.600.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.Feather.Core" version="1.7.600.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.MarketoConnector" version="9.2.6200.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.MobileAppBuilder" version="9.2.6200.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.Mvc" version="1.7.600.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.Octopus" version="2016.1.824.1" targetFramework="net45" />
  <package id="Telerik.Sitefinity.OpenAccess" version="9.2.6200.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.Packaging" version="9.2.6200.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.PrecompiledPages.Backend" version="9.2.6200.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.PrecompiledTemplates" version="9.2.6200.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.RecycleBin" version="9.2.6200.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.Reporting.Controls" version="7.1.13.612" targetFramework="net40" />
  <package id="Telerik.Sitefinity.SalesForceConnector" version="9.2.6200.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.ServicesImpl" version="9.2.6200.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.SharepointConnector" version="9.2.6200.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.SitemapGenerator" version="9.2.6200.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.SiteSync" version="9.2.6200.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.TfisClient" version="9.2.6200.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.Thunder" version="9.2.6200.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.Translations" version="9.2.6200.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.Twitterizer" version="2.4.1" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Web.Services" version="9.2.6200.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.Windows.Controls" version="2015.1.225.40" targetFramework="net45" />
  <package id="Telerik.Web.UI" version="2016.2.607.40" targetFramework="net45" />
  <package id="WebActivatorEx" version="2.0.3" targetFramework="net45" />
  <package id="WindowsAzure.Storage" version="5.0.2" targetFramework="net45" />
</packages>