<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="3.0.20820.0" targetFramework="net40" />
  <package id="AspNetMvc" version="4.0.20710.0" targetFramework="net40" />
  <package id="CommonServiceLocator.Silverlight" version="1.0" targetFramework="net40" />
  <package id="CsvHelper" version="2.2.2" targetFramework="net40" />
  <package id="DirectShowLib-2005" version="2.1.0.0" targetFramework="net40" />
  <package id="DocumentFormat.OpenXml" version="1.0" targetFramework="net40" />
  <package id="Elasticsearch.Net" version="1.0.2" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net40" />
  <package id="linqtotwitterNET40" version="2.1.9.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.SelfHost" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net40" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40" />
  <package id="Microsoft.Http" version="1.0.0.0" targetFramework="net40" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.SharePoint.Client" version="15.0.4569.1000" targetFramework="net40" />
  <package id="Microsoft.SqlServer.Types" version="10.50.1600.1" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="MySql.Data" version="6.6.6" targetFramework="net40" />
  <package id="NEST" version="1.0.2" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net40" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net40" />
  <package id="payflow_dotNET" version="4.3.1.0" targetFramework="net40" />
  <package id="RazorGenerator.Templating" version="2.1.1" targetFramework="net40" />
  <package id="ServiceStack.Client.Signed" version="4.0.33" targetFramework="net40" />
  <package id="ServiceStack.Common.Signed" version="4.0.33" targetFramework="net40" />
  <package id="ServiceStack.Interfaces" version="4.0.33" targetFramework="net40" />
  <package id="ServiceStack.Signed" version="4.0.33" targetFramework="net40" />
  <package id="ServiceStack.Text.Signed" version="4.0.33" targetFramework="net40" />
  <package id="Sitefinity.RazorEngine" version="3.0.8.0" targetFramework="net40" />
  <package id="Sitefinity.RedDog.Search" version="0.5.1.6" targetFramework="net40" />
  <package id="Sitefinity.Windows.Azure" version="2.0" targetFramework="net40" />
  <package id="System.Windows" version="5.0.61118.0" targetFramework="net40" />
  <package id="Telerik.DataAccess.Core" version="2014.3.1128.1" targetFramework="net40" />
  <package id="Telerik.DataAccess.Fluent" version="2014.3.1128.1" targetFramework="net40" />
  <package id="Telerik.OpenAccess.Octopus" version="2014.2.1128.1" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Analytics" version="7.3.5500.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Audit.Elasticsearch" version="7.3.5500.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.AuditTrail" version="7.3.5500.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Connectivity" version="7.3.5500.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Content" version="7.3.5500.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Core" version="7.3.5500.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.DAM" version="7.3.5500.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Dashboard" version="7.3.5500.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Diagnostics" version="7.3.5500.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.DigitalExperienceCloudConnector" version="7.3.5500.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.DropboxLibraries" version="7.3.5500.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Everlive" version="7.3.5500.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.EverliveConnector" version="7.3.5500.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Feather" version="1.0.10.4" targetFramework="net40" />
  <package id="Telerik.Sitefinity.MarketoConnector" version="7.3.5500.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Migration" version="7.3.5500.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.MobileAppBuilder" version="7.3.5500.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Mvc" version="7.3.5500.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.OpenAccess" version="7.3.5500.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.PrecompiledTemplates" version="7.3.5500.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.RecycleBin" version="7.3.5500.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Reporting.Controls" version="7.1.13.612" targetFramework="net40" />
  <package id="Telerik.Sitefinity.SalesForceConnector" version="7.3.5500.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.ServicesImpl" version="7.3.5500.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.SharepointConnector" version="7.3.5500.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.SitemapGenerator" version="7.3.5500.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.SiteSync" version="7.3.5500.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.TfisClient" version="7.3.5500.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Thunder" version="7.3.5500.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Twitterizer" version="2.4.1" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Windows.Controls" version="2013.1.415.40" targetFramework="net40" />
  <package id="Telerik.Web.UI" version="2014.3.1024.40" targetFramework="net40" />
</packages>