@model Telerik.Sitefinity.Frontend.Forms.Mvc.Models.Fields.SubmitButton.SubmitButtonViewModel

@using Telerik.Sitefinity.Frontend.Forms.Mvc.Helpers;

<div>
    <button type="submit" @Html.SubmitButtonRequiredAttributes() class="btn btn-primary Btn--sm Btn @Model.CssClass">@Model.Label</button>
</div>
